@using CashFlowManagement.Utilities
@model List<CashFlowManagement.EntityModel.BankDepositIncomes>
@{
    double totalAnnualIncome = 0,
           totalCapitalValue = 0;
}

<table class="table table-bordered table-striped bank-deposit-table">
    <thead>
        <tr>
            <th class="text-center">Bank Deposit Incomes</th>
            <th class="text-center">Monthly Income</th>
            <th class="text-center">Annual Income</th>
            <th class="text-center">Capital Value</th>
            <th class="text-center">Interest Yield</th>
            <th class="text-center">Participant Bank</th>
            <th class="text-center">Note</th>
            <th width="200"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="hidden">
                        <span class="bank-deposit-id">@item.Id</span>
                    </td>
                    <td>@item.Source</td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.CapitalValue * item.InterestYield / 1200)</td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.CapitalValue * item.InterestYield / 100)</td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.CapitalValue)</td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.InterestYield)</td>
                    <td>@item.ParticipantBank</td>
                    <td>@item.Note</td>
                    <td class="text-center">
                        <button class="btn btn-success update-bank-deposit">Update</button>
                        <button class="btn btn-danger delete-bank-deposit">Delete</button>
                    </td>
                </tr>
                {
                    totalAnnualIncome += (item.CapitalValue * item.InterestYield / 100);
                    totalCapitalValue += item.CapitalValue;
                }
            }
            <tr>
                <td><strong>Total value</strong></td>
                <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalAnnualIncome / 12)</strong></td>
                <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalAnnualIncome)</strong></td>
                <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalCapitalValue)</strong></td>
                <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalCapitalValue > 0 ? totalAnnualIncome / totalCapitalValue : 0)</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        else
        {
            <tr>
                <td class="text-center" colspan="8">No bank deposit income available</td>
            </tr>
        }
    </tbody>
</table>


