@using CashFlowManagement.Models
@{
    ViewBag.Title = "Quản lý tài khoản tiết kiệm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Tài sản</a>
            <a href="#" class="btn btn-default">Tài khoản tiết kiệm</a>
            <a href="#" class="btn btn-default">Chi tiết các tài khoản tiết kiệm</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px;">Quản lý tài khoản tiết kiệm</p>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-success toggle-modal">
            <span class="glyphicon glyphicon-home"></span>
            Tạo tài khoản tiết kiệm
        </button>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="bank-deposit-table-div">
        @{ Html.RenderAction("_BankDepositTable", "BankDeposit"); }
    </div>
</div>

@{
    var navList = (List<NavigationViewModel>)HttpContext.Current.Session["NAV_LIST"];
    var currentId = navList.Where(x => x.Current == true).FirstOrDefault().Id;
    string previousText = string.Empty;
    string nextText = string.Empty;
    if (currentId - 1 > 0)
    {
        var previous = navList.Where(x => x.Id == currentId - 1).FirstOrDefault();
        previousText = previous.Display;
    }

    if (currentId + 1 < navList.Count() + 1)
    {
        var next = navList.Where(x => x.Id == currentId + 1).FirstOrDefault();
        nextText = next.Display;
    }
    else if (currentId + 1 == navList.Count() + 1)
    {
        nextText = "Hoàn tất khởi tạo";
    }
}

<footer class="col-md-12 text-right">
    @if (!string.IsNullOrEmpty(previousText))
    {
        <a href="@Url.Action("Previous", "Navigation")" class="btn btn-primary " style="font-size: 11px;">
            <span class="glyphicon glyphicon-arrow-left"></span>
            @previousText
        </a>
    }

    @if (!string.IsNullOrEmpty(nextText))
    {
        <a href="@Url.Action("Next", "Navigation")" class="btn btn-primary " style="font-size: 11px;">
            <span class="glyphicon glyphicon-arrow-right"></span>
            @nextText
        </a>
    }
</footer>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/bankdeposit.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.BankDepositForm = '@Url.Action("_BankDepositForm", "BankDeposit")';
    Url.BankDepositTable = '@Url.Action("_BankDepositTable", "BankDeposit")';
    Url.CreateBankDeposit = '@Url.Action("_Create", "BankDeposit")';
    Url.SaveBankDeposit = '@Url.Action("Save", "BankDeposit")';
    Url.BankDepositTable = '@Url.Action("_BankDepositTable", "BankDeposit")';
    Url.DeleteBankDeposit = '@Url.Action("DeleteBankDeposit", "BankDeposit")';
    Url.BankDepositUpdateForm = '@Url.Action("_BankDepositUpdateForm", "BankDeposit")';
</script>