@using CashFlowManagement.Models;
@{
    ViewBag.Title = "Quản lý lương";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Thu nhập</a>
            <a href="#" class="btn btn-default">Lương</a>
            <a href="#" class="btn btn-default">Chi tiết các khoản lương</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px;">Quản lý lương</p>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-success toggle-modal">
            <span class="glyphicon glyphicon-home"></span>
            Tạo lương
        </button>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="salary-table-div">
         @{ Html.RenderAction("_SalaryTable", "Salary"); }
    </div>
</div>
<footer class="row text-right">
    <a href="#" class="btn btn-primary salary-toggle-summary" style="font-size: 11px;">
        <span class="glyphicon glyphicon-ok"></span>
        Hoàn tất khai báo thu nhập lương
    </a>
</footer>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/salary.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.SalaryForm = '@Url.Action("_SalaryForm", "Salary")';
    Url.SalaryTable = '@Url.Action("_SalaryTable", "Salary")';
    Url.CreateSalary = '@Url.Action("_Create", "Salary")';
    Url.SaveSalary = '@Url.Action("Save", "Salary")';
    Url.SalaryTable = '@Url.Action("_SalaryTable", "Salary")';
    Url.DeleteSalary = '@Url.Action("DeleteSalary", "Salary")';
    Url.SalaryUpdateForm = '@Url.Action("_SalaryUpdateForm", "Salary")';
    Url.SalarySummary = '@Url.Action("_SalarySummary", "Salary")';
</script>