@{
    ViewBag.Title = "Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<div class="background">
    <h3 class="text-center">THU NHẬP TỪ LƯƠNG</h3>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-new-salary-modal">Add Salary</button>*@
    <div class="salary-table">
        @{ Html.RenderAction("SalaryTable", "Salary");  }
    </div>
</div>

<div class="salary-modal">
    @{ Html.RenderPartial("SalaryModal");  }
</div>

<div class="update-modal">
    @{ Html.RenderPartial("UpdateSalaryModal");  }
</div>


<script type="text/javascript" src="~/Scripts/salary.js"></script>
<script type="text/javascript">
    var Url = new Object();
    Url.CreateSalary = '@Url.Action("CreateSalary", "Salary")';
    Url.LoadTable = '@Url.Action("SalaryTable", "Salary")';
    Url.LoadSalary = '@Url.Action("UpdateSalaryModal", "Salary")';
    Url.UpdateSalary = '@Url.Action("UpdateSalary", "Salary")';
    Url.DeleteSalary = '@Url.Action("DeleteSalary", "Salary")';    
</script>


