@using CashFlowManagement.Models;
@{
    ViewBag.Title = "Quản lý lương";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Thu nhập</a>
            <a href="#" class="btn btn-default">Lương</a>
            <a href="#" class="btn btn-default">Chi tiết các khoản lương</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px;">Quản lý lương</p>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-success toggle-modal">
            <span class="glyphicon glyphicon-home"></span>
            Tạo lương
        </button>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="salary-table-div">
        @{ Html.RenderAction("_SalaryTable", "Salary"); }
    </div>
</div>

@{ 
    var navList = (List<NavigationViewModel>)HttpContext.Current.Session["NAV_LIST"];
    var currentId = navList.Where(x => x.Current == true).FirstOrDefault().Id;
    string previousText = string.Empty;
    string nextText = string.Empty;
    if (currentId - 1 > 0)
    {
        var previous = navList.Where(x => x.Id == currentId - 1).FirstOrDefault();
        previousText = previous.Display;
    }

    if(currentId + 1 < navList.Count())
    {
        var next = navList.Where(x => x.Id == currentId + 1).FirstOrDefault();
        nextText = next.Display;
    }
    else if (currentId + 1 == navList.Count())
    {
        nextText = "Hoàn tất khởi tạo";
    }
}

<footer class="col-md-12 text-right">
    @if (!string.IsNullOrEmpty(previousText))
    {
        <a href="@Url.Action("Previous", "Navigation")" class="btn btn-primary " style="font-size: 11px;">
            <span class="glyphicon glyphicon-arrow-left"></span>
            @previousText
        </a>
    }

    @if (!string.IsNullOrEmpty(nextText))
    {
        <a href="@Url.Action("Next", "Navigation")" class="btn btn-primary " style="font-size: 11px;">
            <span class="glyphicon glyphicon-arrow-right"></span>
            @nextText
        </a>
    }
</footer>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/salary.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.SalaryForm = '@Url.Action("_SalaryForm", "Salary")';
    Url.SalaryTable = '@Url.Action("_SalaryTable", "Salary")';
    Url.CreateSalary = '@Url.Action("_Create", "Salary")';
    Url.SaveSalary = '@Url.Action("Save", "Salary")';
    Url.SalaryTable = '@Url.Action("_SalaryTable", "Salary")';
    Url.DeleteSalary = '@Url.Action("DeleteSalary", "Salary")';
    Url.SalaryUpdateForm = '@Url.Action("_SalaryUpdateForm", "Salary")';
</script>