@model bool
@{
    ViewBag.Title = "Quản lý khoản vay xe hơi và tiêu sản khác";
    if (Model)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LiabilityLayout.cshtml";
    }
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Các khoản nợ</a>
            <a href="#" class="btn btn-default">Các khoản vay cho tiêu sản</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px; margin-bottom: 5px !important">Quản lý các khoản vay cho tiêu sản</p>
        @if (!Model)
        {
            <p style="font-size: 12px; font-style: italic">(Nếu không có khoản vay cho tiêu sản, vui lòng chọn Tiếp tục)</p>
        }
    </div>
    @if (!Model)
    {
        <div class="col-md-6 text-right button-div">
            <button type="button" class="btn btn-success toggle-modal modal-toggle">
                <span class="glyphicon glyphicon-home"></span>
                Tạo khoản vay
            </button>
            <a href="@Url.Action("CarLiabilityInitialize", "Account")" class="btn btn-default " style="font-size: 11px;">
                <span class="glyphicon glyphicon-arrow-right"></span>
                Tiếp tục
            </a>
        </div>
    }
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="car-liability-table-div">
        @{ Html.RenderAction("_CarLiabilityTable", "CarLiability"); }
    </div>
</div>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/carliability.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.CarLiabilityForm = '@Url.Action("_CarLiabilityForm", "CarLiability")';
    Url.CarLiabilityTable = '@Url.Action("_CarLiabilityTable", "CarLiability")';
    Url.CreateCarLiability = '@Url.Action("_Create", "CarLiability")';
    Url.SaveCarLiability = '@Url.Action("Save", "CarLiability")';
    Url.CarLiabilityTable = '@Url.Action("_CarLiabilityTable", "CarLiability")';
    Url.DeleteCarLiability = '@Url.Action("DeleteCarLiability", "CarLiability")';
    Url.CarLiabilityUpdateForm = '@Url.Action("_CarLiabilityUpdateForm", "CarLiability")';
</script>