@using CashFlowManagement.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/b-1.2.4/r-2.1.1/se-1.2.0/datatables.min.css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js")

</head>
<body>
    <div class="container login-page">
        <div class="row text-center">
            <img src="~/images/Generic_Avatar.png" width="60"/>
            <h4>Đăng nhập vào ngansach.vn</h4>
        </div>
        <section id="loginForm">
            @if (ViewData.ModelState["LoginError"] != null) {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Html.ValidationMessage("LoginError", new { @class = "text-danger" })
                </div>
            }
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng nhập" class="btn btn-primary col-md-12" />
                </div>
                <div class="col-md-12">
                    <p>
                        Chưa có tài khoản? <a href="@Url.Action("Index", "Register")">Tạo tài khoản</a>
                    </p>
                </div>
            }
        </section>
    </div>

</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
