@model bool
@{
    ViewBag.Title = "Quản lý cố phiếu";
    Layout = "~/Views/Shared/_AssetLayout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Tài sản</a>
            <a href="#" class="btn btn-default">Cổ phiếu</a>
            <a href="#" class="btn btn-default">Chi tiết cổ phiếu</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px;">Quản lý cổ phiếu</p>
        @if (!Model)
        {
            <p style="font-size: 12px; font-style: italic">(Nếu không có cổ phiếu, vui lòng chọn Tiếp tục)</p>
        }
    </div>
    @if (!Model)
    {
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success toggle-modal">
                <span class="glyphicon glyphicon-home"></span>
                Tạo cổ phiếu
            </button>
        </div>
    }
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="stock-table-div">
        @{ Html.RenderAction("_StockTable", "Stock"); }
    </div>
</div>
<footer class="row text-right">
    <a href="@Url.Action("Index", "BankDeposit")" class="btn btn-default " style="font-size: 11px;">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Quay lại
    </a>
    <a href="@Url.Action("StockInitialize", "Account")" class="btn btn-default " style="font-size: 11px;">
        <span class="glyphicon glyphicon-arrow-right"></span>
        Tiếp tục
    </a>
</footer>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/stock.js"></script>
<script type="text/javascript">
    var Url = {};
    Url._LiabilityForm = '@Url.Action("_LiabilityForm", "Stock")';
    Url.LiabilityForm2nd = '@Url.Action("_LiabilityForm2nd", "Stock")';
    Url._LiabilityTable = '@Url.Action("_LiabilityTable", "Stock")';
    Url.CreateStock = '@Url.Action("_Create", "Stock")';
    Url.Confirm = '@Url.Action("_Confirm", "Stock")';
    Url.SaveStock = '@Url.Action("Save", "Stock")';
    Url.StockTable = '@Url.Action("_StockTable", "Stock")';
    Url.DeleteTempLiability = '@Url.Action("DeleteTempLiability", "Stock")';
    Url.DeleteLiability = '@Url.Action("DeleteLiability", "Stock")';
    Url.DeleteStock = '@Url.Action("DeleteStock", "Stock")';
    Url.LiabilityUpdateForm = '@Url.Action("_LiabilityUpdateForm", "Stock")';
    Url.LiabilityUpdateForm2nd = '@Url.Action("_LiabilityUpdateForm2nd", "Stock")';
    Url.StockUpdateForm = '@Url.Action("_StockUpdateForm", "Stock")';
</script>