@model CashFlowManagement.Models.OtherLiabilityListViewModel

<div class="row other-liability-table-div">
    <table id="liability-table" class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th>Nguồn vay nợ</th>
                <th class="text-left">Mục tiêu sử dụng</th>
                <th class="text-right">Vốn vay</th>
                <th class="text-right">Lãi suất vay</th>
                <th class="text-right">Ngày bắt đầu vay</th>
                <th class="text-right">Ngày trả hết nợ</th>
                <th class="text-right">Số tháng trả</th>
                <th class="text-right">Trả lãi vay hàng tháng</th>
                <th class="text-right">Trả vốn vay hàng tháng</th>
                <th class="text-right">Tổng phải trả hàng tháng</th>
                <th class="text-right">Tiền vay còn phải trả</th>
                <th>Ghi chú</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Liabilities.Any())
            {
                <tr>
                    <td class="text-danger"><strong>Tổng</strong></td>
                    <td></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalLiabilityValue)</strong></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalInterestRate) / Năm</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalInterestPayment)</strong></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalOriginalPayment)</strong></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalPayment)</strong></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalRemainedValue)</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                foreach (var liability in Model.Liabilities)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => liability.Source)<br />
                            @if (!Model.IsInitialized)
                            {
                                <a href="#" title="Cập nhật nợ" class="update-other-liability modal-toggle" data-value="@Html.DisplayFor(x => liability.Id)"><span class="glyphicon glyphicon-edit text-success" style="font-size: 14px;"></span></a>
                                <a href="#" title="Xóa nợ" class="delete-other-liability" data-value="@Html.DisplayFor(x => liability.Id)"><span class="glyphicon glyphicon-remove text-danger" style="font-size: 14px;"></span></a>
                            }
                        </td>
                        <td>@Html.DisplayFor(x => liability.Purpose)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.Value)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.InterestRate) / @Html.DisplayFor(x => liability.InterestRatePerX)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.StartDate)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.EndDate)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.PaymentPeriod)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.MonthlyInterestPayment)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.MonthlyOriginalPayment)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.TotalMonthlyPayment)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.RemainedValue)</td>
                        <td>@Html.DisplayFor(x => liability.Note)</td>
                        <td>
                            <span style="font-size: 10px" class="label @Html.DisplayFor(x => liability.StatusCode)">@Html.DisplayFor(x => liability.Status)</span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center">Không có có khoản nợ nào</td>
                </tr>
            }
        </tbody>
    </table>
</div>
