@model CashFlowManagement.Models.OtherLiabilityCreateViewModel
@using CashFlowManagement.Constants
@{
    Layout = null;
}

<div id="other-liability-create-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <p style="font-size: 16px; margin-bottom: 0px;">Khởi tạo khoản vay</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="other-liability-div" class="col-md-12">
                        @using (Html.BeginForm("_OtherLiabilityForm", "OtherLiability", FormMethod.Post, new { @id = "other-liability-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(x => x.Source)
                                @Html.TextBoxFor(x => x.Source, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(x => x.Source, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Purpose)
                                @Html.EditorFor(x => x.Purpose, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(x => x.Purpose, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Value)
                                @Html.EditorFor(x => x.Value, new { htmlAttributes = new { @class = "form-control input-sm input-mask" } })
                                @Html.ValidationMessageFor(x => x.Value, null, new { @class = "text-danger" })
                                @Html.ValidationMessage("CompareOtherAssetValueAndLiabilityValue", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.InterestType)
                                @Html.DropDownListFor(x => x.InterestType, Constants.InterestType(), new { @class = "form-control input-sm " })
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
                                    @Html.LabelFor(x => x.InterestRate)
                                </div>
                                <div class="col-md-7" style="padding-left: 0; padding-right: 5px; margin-bottom: 15px;">
                                    <div class="input-group input-group-sm">
                                        @Html.EditorFor(x => x.InterestRate, new { htmlAttributes = new { @class = "form-control input-sm percentage" } })
                                        <div class="input-group-addon">
                                            <span class="fa fa-percent"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5" style="padding-left: 0px; padding-right: 0; margin-bottom: 15px;">
                                    @Html.DropDownListFor(x => x.InterestRatePerX, Constants.InterestPerX(), new { @class = "form-control input-sm" })
                                </div>
                                @Html.ValidationMessageFor(x => x.InterestRate, null, new { @class = "text-danger" })
                                @Html.ValidationMessageFor(x => x.InterestRatePerX, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.StartDate)
                                <div class="input-group input-group-sm">
                                    @Html.EditorFor(x => x.StartDate, new { htmlAttributes = new { @class = "form-control input-sm date-picker-with-day" } })
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(x => x.StartDate, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.EndDate)
                                <div class="input-group input-group-sm">
                                    @Html.EditorFor(x => x.EndDate, new { htmlAttributes = new { @class = "form-control input-sm date-picker-with-day" } })
                                    <div class="input-group-addon">
                                        <sspan class="glyphicon glyphicon-calendar"></sspan>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(x => x.EndDate, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Note)
                                @Html.TextAreaFor(x => x.Note, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Note, null, new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success create-other-liability">
                    <span class="glyphicon glyphicon-ok"></span>
                    Tạo khoản vay
                </button>
            </div>
        </div>
    </div>
</div>


