@model bool
@{
    ViewBag.Title = "Quản lý khoản vay khác";
    if (Model)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LiabilityLayout.cshtml";
    }
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Các khoản nợ</a>
            <a href="#" class="btn btn-default">Các khoản vay khác</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px; margin-bottom: 5px !important">Quản lý các khoản vay khác</p>
        @if (!Model)
        {
            <p style="font-size: 12px; font-style: italic">(Nếu không có khoản vay khác, vui lòng chọn Hoàn tất)</p>
        }
    </div>
    @if (!Model)
    {
        <div class="col-md-6 text-right button-div">
            <button type="button" class="btn btn-success toggle-modal modal-toggle">
                <span class="glyphicon glyphicon-home"></span>
                Tạo khoản vay
            </button>
            <a href="@Url.Action("Index", "CreditCardLiability")" class="btn btn-default " style="font-size: 11px;">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Quay lại
            </a>
            <a href="#" class="btn btn-primary liability-toggle-summary modal-toggle" style="font-size: 11px;">
                <span class="glyphicon glyphicon-ok"></span>
                Hoàn tất 
            </a>
        </div>
    }
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="other-liability-table-div">
        @{ Html.RenderAction("_OtherLiabilityTable", "OtherLiability"); }
    </div>
</div>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/otherliability.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.OtherLiabilityForm = '@Url.Action("_OtherLiabilityForm", "OtherLiability")';
    Url.OtherLiabilityTable = '@Url.Action("_OtherLiabilityTable", "OtherLiability")';
    Url.CreateOtherLiability = '@Url.Action("_Create", "OtherLiability")';
    Url.SaveOtherLiability = '@Url.Action("Save", "OtherLiability")';
    Url.OtherLiabilityTable = '@Url.Action("_OtherLiabilityTable", "OtherLiability")';
    Url.DeleteOtherLiability = '@Url.Action("DeleteOtherLiability", "OtherLiability")';
    Url.OtherLiabilityUpdateForm = '@Url.Action("_OtherLiabilityUpdateForm", "OtherLiability")';
    Url.LiabilitySummary = '@Url.Action("_LiabilitySummary", "OtherLiability")';
</script>