@using CashFlowManagement.Constants
@using CashFlowManagement.EntityModel
@using CashFlowManagement.Queries
@using CashFlowManagement.Utilities
@{
    Users user = (Users)HttpContext.Current.Session["USER"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js")
    <script src="@Url.Content("~/Scripts/cldr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/globalize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/selectize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-md-4 logo">
                <img class="logo-image" src="~/images/Generic_Avatar.png" width="30" />
                <span class="logo-text">Quản lý tài chính</span>
                @if (HttpContext.Current.Session["USER"] != null)
                {
                    using (Ajax.BeginForm("CheckAvailableMoney", "Asset", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "available-money" }, new { @class = "available-money", @style = "display: inline;" }))
                    {
                        <span class="logo-text" style="font-size: 12px; margin-left: 20px; padding-top: 70px;"><strong>Tiền mặt có sẵn: </strong> <span id="available-money">@FormatUtility.DisplayThousandSeparatorsForNumber(AssetQueries.CheckAvailableMoney(UserQueries.GetCurrentUsername(), DateTime.Now))</span> đồng</span>
                    }
                }
            </div>
            <div class="col-md-7 navigation">
                <ul class="nav-bar">
                    <li><a href="@Url.Action("Index", "FinancialStatus")">Báo cáo</a></li>
                    <li><a href="@Url.Action("Index", "Income")">Thu nhập</a></li>
                    <li>
                        <a href="#">Tài sản</a>
                        <ul class="nav-bar">
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.REAL_ESTATE })">Bất động sản</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.BUSINESS })">Kinh doanh</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.BANK_DEPOSIT })">Tài khoản tiết kiệm</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.STOCK })">Chứng khoán</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.INSURANCE })">Bảo hiểm nhân thọ</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.OTHERS })">Tài sản khác</a></li>
                        </ul>
                    </li>
                    <li style="width: 100px">
                        <a href="#">Các khoản nợ</a>
                        <ul class="nav-bar">
                            <li><a href="@Url.Action("LiabilityTable", "Liability", new { @type = (int)Constants.LIABILITY_TYPE.CAR })">Xe hơi và tiêu sản khác</a></li>
                            <li><a href="@Url.Action("LiabilityTable", "Liability", new { @type = (int)Constants.LIABILITY_TYPE.CREDIT_CARD })">Thẻ tín dụng</a></li>
                            <li><a href="@Url.Action("LiabilityTable", "Liability", new { @type = (int)Constants.LIABILITY_TYPE.OTHERS })">Nợ khác</a></li>
                        </ul>
                    </li>
                    <li style="width: 150px">
                        <a href="#">Các khoản chi tiêu</a>
                        <ul class="nav-bar">
                            <li><a href="@Url.Action("Index", "Expense", new { @type = (int)Constants.EXPENSE_TYPE.FAMILY })">Chi tiêu gia đình</a></li>
                            <li><a href="@Url.Action("Index", "Expense", new { @type = (int)Constants.EXPENSE_TYPE.OTHERS })">Chi tiêu khác</a></li>
                        </ul>
                    </li>
                    <li style="width: 30px;"><a href="@Url.Action("Index", "Log", new { @type = (int)Constants.LOG_FILTER_TYPE.INCOME_EXPENSE })">Log</a></li>
                    @if (user == null)
                    {
                        <li style="width: 90px"><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                    }
                    else
                    {
                        <li style="width: 90px"><a href="@Url.Action("Logout", "Account")">Đăng xuất</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>