@using CashFlowManagement.Constants
@using CashFlowManagement.EntityModel
@using CashFlowManagement.Queries
@using CashFlowManagement.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.13/b-1.2.4/r-2.1.1/se-1.2.0/datatables.min.css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js")

</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-md-2 logo">
                <img class="logo-image" src="~/images/Generic_Avatar.png" width="40"/>
                <span class="logo-text">Quản lý tài chính</span>
            </div>
            <div class="col-md-8 navigation">
                <ul class="nav-bar">
                    <li><a href="@Url.Action("Index", "FinancialStatus")">Báo cáo</a></li>
                    <li><a href="@Url.Action("IncomeTable", "Income", new { @type = (int)Constants.INCOME_TYPE.SALARY_INCOME })">Thu nhập</a></li>
                    <li>    
                        <a href="#">Tài sản</a>
                        <ul class="nav-bar">
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.REAL_ESTATE })">Bất động sản</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.BUSINESS })">Kinh doanh</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.BANK_DEPOSIT })">Tài khoản tiết kiệm</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.STOCK })">Chứng khoán</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.INSURANCE })">Bảo hiểm nhân thọ</a></li>
                            <li><a href="@Url.Action("AssetTable", "Asset", new { @type = (int)Constants.ASSET_TYPE.OTHERS })">Tài sản khác</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Khoản nợ</a>
                        <ul class="nav-bar">
                            <li><a href="@Url.Action("LiabilityTable", "Liability", new { @type = (int)Constants.LIABILITY_TYPE.CAR })">Xe hơi và tiêu sản khác</a></li>
                            <li><a href="@Url.Action("LiabilityTable", "Liability", new { @type = (int)Constants.LIABILITY_TYPE.CREDIT_CARD })">Thẻ tín dụng</a></li>
                            <li><a href="@Url.Action("LiabilityTable", "Liability", new { @type = (int)Constants.LIABILITY_TYPE.OTHERS })">Nợ khác</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Chi tiêu</a>
                        <ul class="nav-bar">
                            <li><a href="@Url.Action("ExpenseTable", "Expense", new { @type = (int)Constants.EXPENSE_TYPE.FAMILY })">Chi tiêu gia đình</a></li>
                            <li><a href="@Url.Action("ExpenseTable", "Expense", new { @type = (int)Constants.LIABILITY_TYPE.OTHERS })">Chi tiêu khác</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Log")">Lịch sử</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>
