@using CashFlowManagement.Constants
@using CashFlowManagement.EntityModel
@using CashFlowManagement.Queries
@using CashFlowManagement.Utilities
@{
    Users user = (Users)HttpContext.Current.Session["USER"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngân sách của bạn</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-md-4 logo">
                <img class="logo-image" src="~/images/Generic_Avatar.png" width="30" />
                <span class="logo-text">Trang quản lý tài chính của <a href="#" style="font-size: 15px !important; color: white !important;">@user.FullName</a></span>
            </div>
            <div class="col-md-7 navigation">
                <ul class="nav-bar">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li>
                        <a href="#"></a>
                        <ul class="nav-bar">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                    <li style="width: 100px">
                        <a href="#">Các khoản nợ</a>
                        <ul class="nav-bar">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                    <li style="width: 150px">
                        <a href="#"></a>
                        <ul class="nav-bar">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                    <li style="width: 30px;"><a href="#"></a></li>
                    @if (user == null)
                    {
                        <li style="width: 90px"><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                    }
                    else
                    {
                        <li style="width: 90px"><a href="@Url.Action("Logout", "Account")">Đăng xuất</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $.ajaxSetup({
        statusCode: {
            401: function () {
                window.location.href = "@Url.Action("Login", "Account")";
            }
        }
    })
</script>