@model CashFlowManagement.Models.CreditCardLiabilityListViewModel

<div class="row credit-card-liability-table-div">
    <table id="liability-table" class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th>Tên ngân hàng</th>
                <th class="text-right">Giá trị đã dùng</th>
                <th class="text-right">Chi phí lãi</th>
                <th class="text-right">Phải trả hàng tháng</th>
                <th class="text-right">Phải trả hàng năm</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Liabilities.Any())
            {
                <tr>
                    <td class="text-danger"><strong>Tổng</strong></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalValue)</strong></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalInterestRate) / năm</strong></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalMonthlyPayment)</strong></td>
                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalAnnualPayment)</strong></td>
                    <td></td>
                </tr>
                foreach (var liability in Model.Liabilities)
                {
                    <tr>
                        <td>    
                            @Html.DisplayFor(x => liability.Source)<br />
                            <a href="#" title="Cập nhật nợ" class="update-credit-card-liability" data-value="@Html.DisplayFor(x => liability.Id)"><span class="glyphicon glyphicon-edit text-success" style="font-size: 14px;"></span></a>
                            <a href="#" title="Xóa nợ" class="delete-credit-card-liability" data-value="@Html.DisplayFor(x => liability.Id)"><span class="glyphicon glyphicon-remove text-danger" style="font-size: 14px;"></span></a>
                        </td>
                        <td class="text-right">@Html.DisplayFor(x => liability.Value)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.InterestRate) / năm</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.MonthlyPayment)</td>
                        <td class="text-right">@Html.DisplayFor(x => liability.AnnualPayment)</td>
                        <td>@Html.DisplayFor(x => liability.Note)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center">Không có có khoản nợ nào</td>
                </tr>
            }
        </tbody>
    </table>
</div>
