@model bool
@{
    ViewBag.Title = "Quản lý thẻ tín dụng";
    Layout = "~/Views/Shared/_LiabilityLayout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Các khoản nợ</a>
            <a href="#" class="btn btn-default">Vay thẻ tín dụng</a>
            <a href="#" class="btn btn-default">Chi tiết các khoản vay thẻ tín dụng</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px; margin-bottom: 5px !important">Quản lý vay thẻ tín dụng</p>
        @if (!Model)
        {
            <p style="font-size: 12px; font-style: italic">(Nếu không có khoản vay thẻ tín dụng, vui lòng chọn Tiếp tục)</p>
        }
    </div>
    @if (!Model)
    {
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success toggle-modal">
                <span class="glyphicon glyphicon-home"></span>
                Tạo vay thẻ tín dụng
            </button>
        </div>
    }
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="credit-card-liability-table-div">
        @{ Html.RenderAction("_CreditCardLiabilityTable", "CreditCardLiability"); }
    </div>
</div>


<footer class="row text-right">
    <a href="@Url.Action("Index", "CarLiability")" class="btn btn-default " style="font-size: 11px;">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Quay lại
    </a>
    <a href="@Url.Action("CreditCardLiabilityInitialize", "Account")" class="btn btn-default " style="font-size: 11px;">
        <span class="glyphicon glyphicon-arrow-right"></span>
        Tiếp tục
    </a>
</footer>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/creditcardliability.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.CreditCardLiabilityForm = '@Url.Action("_CreditCardLiabilityForm", "CreditCardLiability")';
    Url.CreditCardLiabilityTable = '@Url.Action("_CreditCardLiabilityTable", "CreditCardLiability")';
    Url.CreateCreditCardLiability = '@Url.Action("_Create", "CreditCardLiability")';
    Url.SaveCreditCardLiability = '@Url.Action("Save", "CreditCardLiability")';
    Url.CreditCardLiabilityTable = '@Url.Action("_CreditCardLiabilityTable", "CreditCardLiability")';
    Url.DeleteCreditCardLiability = '@Url.Action("DeleteCreditCardLiability", "CreditCardLiability")';
    Url.CreditCardLiabilityUpdateForm = '@Url.Action("_CreditCardLiabilityUpdateForm", "CreditCardLiability")';
</script>
