@model CashFlowManagement.Models.RealEstateListViewModel
<table class="table table-condensed table-responsive" id="real-estate-table">
    <thead>
        <tr>
            <th style="white-space: nowrap">Bất động sản</th>
            <th class="text-right" style="white-space: nowrap">Trị giá tài sản</th>
            <th class="text-right" colspan="2" style="white-space: nowrap">Thu nhập hàng tháng</th>
            <th class="text-right" colspan="1" style="white-space: nowrap">Thu nhập hàng năm</th>
            <th class="text-right" colspan="2" style="white-space: nowrap">Tỷ suất lợi nhuận</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.RealEstates.Any())
        {
            <tr>
                <td><strong class="text-danger">Tổng</strong></td>
                <td class="text-right"><strong class="text-danger">@Html.DisplayFor(x => x.TotalValue)</strong></td>
                <td class="text-right" colspan="2"><strong class="text-danger">@Html.DisplayFor(x => x.TotalMonthlyIncome)</strong></td>
                <td class="text-right" colspan="1"><strong class="text-danger">@Html.DisplayFor(x => x.TotalAnnualIncome)</strong></td>
                <td class="text-right" colspan="2"><strong class="text-danger">@Html.DisplayFor(x => x.TotalRentYield)</strong></td>
                <td class="text-right"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            foreach (var realEstate in Model.RealEstates)
            {
                <tr>
                    <td rowspan="@Html.DisplayFor(x => realEstate.RowSpan)" style="vertical-align: top !important;">
                        @Html.DisplayFor(x => realEstate.Name)<br/>
                        <a href="#" title="Cập nhật bất động sản">
                            <span class="glyphicon glyphicon-edit text-success update-real-estate" data-value="@Html.DisplayFor(x => realEstate.Id)" style="font-size: 14px"></span>
                        </a>
                        <a href="#" title="Xóa bất động sản">
                            <span class="glyphicon glyphicon-remove text-danger delete-real-estate" data-value="@Html.DisplayFor(x => realEstate.Id)" style="font-size: 14px"></span>
                        </a>
                        <a href="#" title="Thêm nợ">
                            <span class="fa fa-money text-primary add-real-estate-liability" data-value="@Html.DisplayFor(x => realEstate.Id)" style="font-size: 14px"></span>
                        </a>
                    </td>
                    <td class="text-right">@Html.DisplayFor(x => realEstate.Value)</td>
                    <td class="text-right" colspan="2">@Html.DisplayFor(x => realEstate.Income)</td>
                    <td class="text-right" colspan="1">@Html.DisplayFor(x => realEstate.AnnualIncome)</td>
                    <td class="text-right" colspan="2">@Html.DisplayFor(x => realEstate.RentYield)</td>
                    <td class="text-right"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                if (realEstate.Liabilities.Any())
                {
                    <tr>
                        <th>Nguồn vay nợ</th>
                        <th>Loại lãi suất</th>
                        <th class="text-right">Giá trị nợ</th>
                        <th>Lãi vay</th>
                        <th class="text-right">Ngày vay</th>
                        <th class="text-right">Ngày hết nợ</th>
                        <th class="text-right">Số tháng trả</th>
                        <th class="text-right">Trả gốc tháng</th>
                        <th class="text-right">Trả lãi tháng</th>
                        <th class="text-right">Tổng trả tháng</th>
                        <th class="text-right">Tổng trả năm</th>
                        <th class="text-right">Nợ còn phải trả</th>
                        <th>Trạng thái</th>
                    </tr>
                            <tr>
                                <td><strong class="text-danger">Tổng</strong></td>
                                <td></td>
                                <td class="text-right"><strong class="text-danger">@Html.DisplayFor(x => realEstate.TotalLiabilityValue)</strong></td>
                                <td class="text-left"><strong class="text-danger"></strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong class="text-danger">@Html.DisplayFor(x => realEstate.TotalOriginalPayment)</strong></td>
                                <td class="text-right"><strong class="text-danger">@Html.DisplayFor(x => realEstate.TotalInterestPayment)</strong></td>
                                <td class="text-right"><strong class="text-danger">@Html.DisplayFor(x => realEstate.TotalMonthlyPayment)</strong></td>
                                <td class="text-right"><strong class="text-danger">@Html.DisplayFor(x => realEstate.TotalPayment)</strong></td>
                                <td class="text-right"><strong class="text-danger">@Html.DisplayFor(x => realEstate.TotalRemainedValue)</strong></td>
                                <td></td>
                            </tr>
                    foreach (var liability in realEstate.Liabilities)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => liability.Source)<br />
                                <a href="#" title="Cập nhật nợ">
                                    <span class="glyphicon glyphicon-edit text-success update-real-estate-liability" data-value="@Html.DisplayFor(x => liability.Id)" style="font-size: 12px"></span>
                                </a>
                                <a href="#" title="Xóa nợ">
                                    <span class="glyphicon glyphicon-remove text-danger delete-real-estate-liability" data-value="@Html.DisplayFor(x => liability.Id)" style="font-size: 12px"></span>
                                </a>
                            </td>
                            <td>@Html.DisplayFor(x => liability.InterestType)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.Value)</td>
                            <td>@Html.DisplayFor(x => liability.InterestRate) / @Html.DisplayFor(x => liability.InterestRatePerX)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.StartDate)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.EndDate)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.PaymentPeriod)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.MonthlyOriginalPayment)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.MonthlyInterestPayment)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.TotalMonthlyPayment)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.TotalPayment)</td>
                            <td class="text-right">@Html.DisplayFor(x => liability.RemainedValue)</td>
                            <td>
                                <span style="font-size: 10px" class="label @Html.DisplayFor(x => liability.StatusCode)">@Html.DisplayFor(x => liability.Status)</span>
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="13" style="border-top: none"></td>
                </tr>
                <tr>
                    <td colspan="13" style="border-top: none"></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="13" class="text-center">Chưa có bất động sản</td>
            </tr>
        }
    </tbody>
</table>

