@{
    ViewBag.Title = "Quản lý bất động sản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Tài sản</a>
            <a href="#" class="btn btn-default">Bất động sản</a>
            <a href="#" class="btn btn-default">Chi tiết bất động sản</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px;">Quản lý bất động sản</p>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-success toggle-modal">
            <span class="glyphicon glyphicon-home"></span>
            Tạo bất động sản
        </button>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="real-estate-table-div">
        @{ Html.RenderAction("_RealEstateTable", "RealEstate"); }
    </div>
</div>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/realestate.js"></script>
<script type="text/javascript">
    var Url = {};
    Url._LiabilityForm = '@Url.Action("_LiabilityForm", "RealEstate")';
    Url.LiabilityForm2nd = '@Url.Action("_LiabilityForm2nd", "RealEstate")';
    Url._LiabilityTable = '@Url.Action("_LiabilityTable", "RealEstate")';
    Url.CreateRealEstate = '@Url.Action("_Create", "RealEstate")';
    Url.Confirm = '@Url.Action("_Confirm", "RealEstate")';
    Url.SaveRealEstate = '@Url.Action("Save", "RealEstate")';
    Url.RealEstateTable = '@Url.Action("_RealEstateTable", "RealEstate")';
    Url.DeleteTempLiability = '@Url.Action("DeleteTempLiability", "RealEstate")';
    Url.DeleteLiability = '@Url.Action("DeleteLiability", "RealEstate")';
    Url.DeleteRealEstate = '@Url.Action("DeleteRealEstate", "RealEstate")';
    Url.LiabilityUpdateForm = '@Url.Action("_LiabilityUpdateForm", "RealEstate")';
    Url.LiabilityUpdateForm2nd = '@Url.Action("_LiabilityUpdateForm2nd", "RealEstate")';
    Url.RealEstateUpdateForm = '@Url.Action("_RealEstateUpdateForm", "RealEstate")';
</script>