@model CashFlowManagement.ViewModels.IncomeListViewModel
@using CashFlowManagement.Utilities

@{
    DateTime current = DateTime.Now;
}

<div id="income-confirmation" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Xác nhận khởi tạo thu nhập
                </h4>
            </div>
            <div class="modal-body">
                <div class="asset-table col-md-12">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th class="text-left">Nguồn thu nhập</th>
                                <th class="text-right">Ngày nhận hàng tháng</th>
                                <th class="text-right">Tháng bắt đầu</th>
                                <th class="text-right">Tháng kết thúc</th>
                                <th class="text-right">Thu nhập tháng</th>
                                <th class="text-right">Thu nhập năm</th>
                                <th class="text-left">Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.List.Any())
                            {
                                foreach (var item in Model.List)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td class="text-right">@FormatUtility.DisplayThousandSeparatorsForNumber(item.IncomeDay.Value)</td>
                                        <td class="text-right">@item.StartDate.ToString("MM/yyyy")</td>
                                        <td class="text-right">@(item.EndDate.HasValue ? item.EndDate.Value.ToString("MM/yyyy") : string.Empty)</td>
                                        <td class="text-right">@FormatUtility.DisplayThousandSeparatorsForNumber(item.Value)</td>
                                        <td class="text-right">@FormatUtility.DisplayThousandSeparatorsForNumber(item.Value * 12)</td>
                                        <td>@item.Note</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10" class="text-center">Không có dữ liệu</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-center">
                <a href="@Url.Action("IncomeInitialize", "Account")" class="btn btn-success process-income" style="font-size: 11px;">
                    <span class="glyphicon glyphicon-ok"></span>
                    Xác nhận
                </a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    Hủy xác nhận
                </button>
            </div>
        </div>
    </div>
</div>