@using CashFlowManagement.Constants
@using CashFlowManagement.EntityModel
@model CashFlowManagement.ViewModels.AssetViewModel
<div id="create-new-asset-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                    {
                        @Html.Raw("Tạo mới khoản tiết kiệm")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                    {
                        @Html.Raw("Tạo mới bất động sản")
                    }

                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                    {
                        @Html.Raw("Tạo mới kinh doanh")
                    }
                    
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            @if(Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                            {
                                @Html.Raw("Tài khoản tiết kiệm:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                            {
                                @Html.Raw("Bất động sản:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                            {
                                @Html.Raw("Kinh doanh:")
                            }
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Asset.AssetName, new { @type = "text", @class = "form-control" })
                            @Html.HiddenFor(x => x.Asset.AssetType)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                            {
                                @Html.Raw("Capital value:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                            {
                                @Html.Raw("Giá trị tài sản:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                            {
                                @Html.Raw("Giá trị góp vốn:")
                            }
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Asset.Value, new { @Value = string.Empty, @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Thu hàng tháng:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Income.Value, new { @Value = string.Empty, @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Participant Bank:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.ParticipantBank, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Note:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Note, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success create-asset">Tạo mới</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
