@using CashFlowManagement.Constants
@using CashFlowManagement.Utilities
@model CashFlowManagement.ViewModels.AssetViewModel
<div id="update-asset-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                    {
                        @Html.Raw("Cập nhật khoản tiết kiệm")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                    {
                        @Html.Raw("Cập nhật bất động sản")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                    {
                        @Html.Raw("Cập nhật kinh doanh")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.INSURANCE)
                    {
                        @Html.Raw("Cập nhật bảo hiểm nhân thọ")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.STOCK)
                    {
                        @Html.Raw("Cập nhật chứng khoán")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.OTHERS)
                    {
                        @Html.Raw("Cập nhật tài sản khác")
                    }
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    @if (Model.Asset.AssetType != (int)Constants.ASSET_TYPE.STOCK || (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.STOCK
    && Model.Transaction.TransactionType == (int)Constants.TRANSACTION_TYPE.CREATE))
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                                {
                                    @Html.Raw("Tài khoản tiết kiệm:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                                {
                                    @Html.Raw("Bất động sản:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                                {
                                    @Html.Raw("Kinh doanh:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.INSURANCE)
                                {
                                    @Html.Raw("Bảo hiểm nhân thọ")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.STOCK)
                                {
                                    @Html.Raw("Chứng khoán:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.OTHERS)
                                {
                                    @Html.Raw("Tài sản khác")
                                }
                            </label>
                            <div class="col-sm-9">
                                @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.STOCK)
                                {
                                    @Html.TextBoxFor(x => x.Asset.AssetName, new { @type = "text", @class = "form-control", @readonly = "true" })

                                }
                                else
                                {
                                    @Html.TextBoxFor(x => x.Asset.AssetName, new { @type = "text", @class = "form-control" })
                                }
                                @Html.HiddenFor(x => x.Asset.AssetType)
                                @Html.HiddenFor(x => x.Asset.Id)
                                @Html.HiddenFor(x => x.Asset.Username)
                            </div>
                        </div>
                    }
                    @if (Model.Asset.AssetType != (int)Constants.ASSET_TYPE.STOCK)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                                {
                                    @Html.Raw("Tổng vốn:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                                {
                                    @Html.Raw("Giá trị tài sản:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                                {
                                    @Html.Raw("Giá trị góp vốn:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.INSURANCE)
                                {
                                    @Html.Raw("Giá trị thụ hưởng:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.OTHERS)
                                {
                                    @Html.Raw("Tổng giá trị")
                                }
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                    }
                    @if (Model.Asset.AssetType != (int)Constants.ASSET_TYPE.INSURANCE && Model.Asset.AssetType != (int)Constants.ASSET_TYPE.STOCK && Model.Asset.AssetType != (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Thu hàng tháng:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Income.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                    }
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.INSURANCE)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Từ ngày:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Liability.StartDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Đến ngày:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Liability.EndDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Đóng hàng tháng:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Liability.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ghi chú:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Note, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.STOCK)
                    {
                        if (Model.Transaction.TransactionType == (int)Constants.TRANSACTION_TYPE.CREATE)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-3">Ngày giao dịch:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.TransactionDate, "{0:dd/MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                                    @Html.HiddenFor(x => x.Transaction.Id)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Số lượng cổ phiếu:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.NumberOfShares, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Giá lúc mua/bán:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.SpotPrice, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Phí môi giới:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.BrokerFee, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Tổng giá trị vốn:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.Value, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Cổ tức mong đợi:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.ExpectedDividend, new { @type = "text", @class = "form-control percentage" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Ghi chú:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.Note, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>
                        }
                        else if (Model.Transaction.TransactionType == (int)Constants.TRANSACTION_TYPE.BUY)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-3">Cổ phiếu:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Asset.AssetName, new { @type = "text", @class = "form-control" })
                                    @Html.HiddenFor(x => x.Transaction.Id)
                                    @Html.HiddenFor(x => x.Asset.Id)
                                    @Html.HiddenFor(x => x.Asset.Username)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Ngày giao dịch:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.TransactionDate, "{0:dd/MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                                    @Html.HiddenFor(x => x.Asset.AssetType)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Số lượng mua:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.NumberOfShares, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Giá mua:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.SpotPrice, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Thành tiền:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.Value, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Cổ tức mong đợi:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.ExpectedDividend, new { @type = "text", @class = "form-control percentage" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Ghi chú:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.Note, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Tiền mặt mua tài sản:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.Assets1.Value, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Tiền mặt có sẵn:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.CurrentAvailableMoney, new { @type = "text", @class = "form-control input-mask", @readonly = "true" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Tiền mặt sau khi mua:</label>
                                <div class="col-sm-9">
                                    <input class="form-control input-mask" id="AfterMoney" readonly />
                                </div>
                            </div>
                            @*<table id="liability-table" class="table table-bordered table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Nguồn vay nợ</th>
                                        <th>Giá trị nợ</th>
                                        <th>Loại lãi suất</th>
                                        <th>Lãi vay</th>
                                        <th>Ngày bắt đầu vay</th>
                                        <th>Ngày trả hết nợ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control input-sm" name="Name" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm input-mask" name="Value" />
                                        </td>
                                        <td width="120">
                                            <select class="form-control input-sm" name="InterestType">
                                                <option value="1">Cố định</option>
                                                <option value="2">Giảm dần</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm percentage" name="InterestRate" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm date-picker" name="StartDate" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-sm date-picker" name="EndDate" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary create-buy-liability">Vay nợ</button>
                                        </td>
                                    </tr>
                                    @foreach (var item in Model.Asset.Liabilities.Where(x => !x.ParentLiabilityId.HasValue && !x.DisabledDate.HasValue && x.TransactionId == Model.Transaction.Id))
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.Value)</td>
                                            <td>
                                                @if(item.InterestType == 1)
                                                {
                                                    @Html.Raw("Cố định")
                                                }
                                                else if (item.InterestType == 2)
                                                {
                                                    @Html.Raw("Giảm dần")
                                                }
                                            </td>
                                            <td>
                                                @FormatUtility.DisplayPercentageForNumber(item.InterestRate)
                                            </td>
                                            <td>
                                                @item.StartDate.Value.ToString("MM/yyyy")
                                            </td>
                                            <td>
                                                @item.EndDate.Value.ToString("MM/yyyy")
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>*@
                        }
                        else if (Model.Transaction.TransactionType == (int)Constants.TRANSACTION_TYPE.SELL)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-3">Cổ phiếu bán:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Asset.AssetName, new { @type = "text", @class = "form-control", @readonly = "true" })
                                    @Html.HiddenFor(x => x.Asset.Id)
                                    @Html.HiddenFor(x => x.Asset.AssetType)
                                    @Html.HiddenFor(x => x.Transaction.TransactionType)
                                    @Html.HiddenFor(x => x.Transaction.Id)
                                    @Html.HiddenFor(x => x.Asset.Username)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Ngày bán: </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.TransactionDate, "{0:dd/MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Số lượng: </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.NumberOfShares, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Giá bán: </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.SpotPrice, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Thành tiền: </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.Value, new { @type = "text", @class = "form-control input-mask", @readonly = true })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Số lượng cổ phiếu còn lại: </label>
                                <div class="col-sm-9">
                                    <input class="form-control input-mask" id="RemainedStock" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Ghi chú: </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Transaction.Note, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>
                        }

                    }
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Lãi suất tiền gửi:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.InterestRate, new { @type = "text", @class = "form-control percentage" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Kiểu nhận lãi:</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.Asset.ObtainedBy, new List<SelectListItem> {
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Lãi nhập gốc",
                                                                                                       Value = ((int)Constants.INTEREST_OBTAIN_TYPE.ORIGIN).ToString(),
                                                                                                       Selected = true
                                                                                                   },
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Rút lãi đầu kỳ",
                                                                                                       Value = ((int)Constants.INTEREST_OBTAIN_TYPE.START).ToString(),
                                                                                                       Selected = true
                                                                                                   },
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Rút lãi cuối kỳ",
                                                                                                       Value = ((int)Constants.INTEREST_OBTAIN_TYPE.END).ToString(),
                                                                                                       Selected = true
                                                                                                   }
                                                                                                }, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Kỳ hạn:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Term, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ghi chú:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Note, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success save-asset">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
