@using CashFlowManagement.Constants
@using CashFlowManagement.EntityModel
@model CashFlowManagement.ViewModels.AssetViewModel
<div id="update-asset-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                    {
                        @Html.Raw("Cập nhật khoản tiết kiệm")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                    {
                        @Html.Raw("Cập nhật bất động sản")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                    {       
                        @Html.Raw("Cập nhật kinh doanh")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.INSURANCE)
                    {
                        @Html.Raw("Cập nhật bảo hiểm nhân thọ")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.STOCK)
                    {
                        @Html.Raw("Cập nhật chứng khoán")
                    }
                    else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.OTHERS)
                    {
                        @Html.Raw("Cập nhật tài sản khác")
                    }
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                            {
                                @Html.Raw("Tài khoản tiết kiệm:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                            {
                                @Html.Raw("Bất động sản:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                            {
                                @Html.Raw("Kinh doanh:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.INSURANCE)
                            {
                                @Html.Raw("Bảo hiểm nhân thọ")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.STOCK)
                            {
                                @Html.Raw("Chứng khoán:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.OTHERS)
                            {
                                @Html.Raw("Tài sản khác")
                            }
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Asset.AssetName, new { @type = "text", @class = "form-control" })
                            @Html.HiddenFor(x => x.Asset.AssetType)
                            @Html.HiddenFor(x => x.Asset.Id)
                            @Html.HiddenFor(x => x.Asset.Username)
                        </div>
                    </div>
                    @if (Model.Asset.AssetType != (int)Constants.ASSET_TYPE.STOCK)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                                {
                                    @Html.Raw("Tổng vốn:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                                {
                                    @Html.Raw("Giá trị tài sản:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                                {
                                    @Html.Raw("Giá trị góp vốn:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.INSURANCE)
                                {
                                    @Html.Raw("Giá trị thụ hưởng:")
                                }
                                else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.OTHERS)
                                {
                                    @Html.Raw("Tổng giá trị")
                                }
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                    }
                    @if (Model.Asset.AssetType != (int)Constants.ASSET_TYPE.INSURANCE && Model.Asset.AssetType != (int)Constants.ASSET_TYPE.STOCK)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Thu hàng tháng:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Income.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                    }
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.INSURANCE)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Từ ngày:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Liability.StartDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Đến ngày:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Liability.EndDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Đóng hàng tháng:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Liability.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ghi chú:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Note, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.STOCK)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ngày giao dịch:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Transaction.TransactionDate, "{0:dd/MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Số lượng cổ phiếu:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Transaction.NumberOfShares, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Giá lúc mua/bán:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Transaction.SpotPrice, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Phí môi giới:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Transaction.BrokerFee, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Tổng giá trị vốn:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Transaction.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Cổ tức mong đợi:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Transaction.ExpectedDividend, new { @type = "text", @class = "form-control percentage" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ghi chú:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Transaction.Note, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Participant Bank:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.ParticipantBank, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ghi chú:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Note, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success save-asset">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>



