@using CashFlowManagement.Constants
@using CashFlowManagement.EntityModel
@model CashFlowManagement.ViewModels.AssetViewModel
<div id="buy-new-asset-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mua bất động sản</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                            {
                                @Html.Raw("Tài khoản tiết kiệm:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                            {
                                @Html.Raw("Bất động sản:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                            {
                                @Html.Raw("Kinh doanh:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.OTHERS)
                            {
                                @Html.Raw("Tài sản khác")
                            }
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Asset.AssetName, new { @type = "text", @class = "form-control" })
                            @Html.HiddenFor(x => x.Asset.AssetType)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                            {
                                @Html.Raw("Tổng vốn:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.REAL_ESTATE)
                            {
                                @Html.Raw("Giá trị tài sản:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BUSINESS)
                            {
                                @Html.Raw("Giá trị góp vốn:")
                            }
                            else if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.OTHERS)
                            {
                                @Html.Raw("Tổng giá trị")
                            }
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Asset.Value, new { @Value = string.Empty, @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Thu hàng tháng:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Income.Value, new { @Value = string.Empty, @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    @if (Model.Asset.AssetType == (int)Constants.ASSET_TYPE.BANK_DEPOSIT)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Participant Bank:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.ParticipantBank, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ghi chú:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Asset.Note, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                    <table id="liability-table" class="table table-bordered table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>Nguồn vay nợ</th>
                                <th>Giá trị nợ</th>
                                <th>Loại lãi suất</th>
                                <th>Lãi vay</th>
                                <th>Ngày bắt đầu vay</th>
                                <th>Ngày trả hết nợ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control input-sm" name="Name" />
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm input-mask" name="Value" />
                                </td>
                                <td width="120">
                                    <select class="form-control input-sm" name="InterestType">
                                        <option value="1">Cố định</option>
                                        <option value="2">Giảm dần</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm percentage" name="InterestRate" />
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm date-picker" name="StartDate" />
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm date-picker" name="EndDate" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary create-buy-liability">Vay nợ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success buy-asset">Mua mới</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

