@model CashFlowManagement.Models.BusinessCreateViewModel
@{
    Layout = null;
}

<div id="business-div" class="col-md-12">
    @using (Html.BeginForm("Create", "Business", FormMethod.Post, new { @id = "business-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
        </div>
        @*<div class="form-group">
                @Html.LabelFor(x => x.BuyDate)
                <div class="input-group input-group-sm">
                    @Html.TextBoxFor(x => x.BuyDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm date-picker-with-day" })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(x => x.Value)
            @Html.EditorFor(x => x.Value, new { htmlAttributes = new { @class = "form-control input-mask input-sm" } })
            @Html.ValidationMessageFor(x => x.Value, null, new { @class = "text-danger" })
            @Html.ValidationMessage("CompareBusinessValueAndLiabilityValue", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Income)
            @Html.EditorFor(x => x.Income, new { htmlAttributes = new { @class = "form-control input-mask input-sm", placeholder = "Không bắt buộc" } })
            @Html.ValidationMessageFor(x => x.Income, null, new { @class = "text-danger" })
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(x => x.IsInDept)
                Bạn có vay khoản nợ nào để kinh doanh không?
            </label>
        </div>
    }
</div>