@model CashFlowManagement.Models.BusinessUpdateViewModel
@{
    Layout = null;
}

<div id="business-update-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <p style="font-size: 16px; margin-bottom: 0px;">Cập nhật kinh doanh</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="real-estate-div" class="col-md-12">
                        @using (Html.BeginForm("_BusinessUpdateForm", "Business", FormMethod.Post, new { @id = "business-update-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.HiddenFor(x => x.Id)
                                @Html.LabelFor(x => x.Name)
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Value)
                                @Html.EditorFor(x => x.Value, new { htmlAttributes = new { @class = "form-control input-mask input-sm" } })
                                @Html.ValidationMessageFor(x => x.Value, null, new { @class = "text-danger" })
                                @Html.ValidationMessage("CompareRealEstateValueAndLiabilityValue", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Income)
                                @Html.EditorFor(x => x.Income, new { htmlAttributes = new { @class = "form-control input-mask input-sm", placeholder = "Không bắt buộc" } })
                                @Html.ValidationMessageFor(x => x.Income, null, new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success save-update-business">
                    <span class="glyphicon glyphicon-ok"></span>
                    Cập nhật kinh doanh
                </button>
            </div>
        </div>
    </div>
</div>
