@using CashFlowManagement.Utilities
@model List<CashFlowManagement.EntityModel.BusinessIncomes>
@{
    double totalBusinessIncome = 0,
           totalCapitalValue = 0,
           totalLoanValue = 0,
           totalAnnualPayment = 0;
}

<table class="table table-bordered table-striped business-table">
    <thead>
        <tr>
            <th class="text-center">Business Incomes</th>
            <th class="text-center">Monthly Income</th>
            <th class="text-center">Annual Income</th>
            <th class="text-center">Capital value</th>
            <th class="text-center">Loan value</th>
            <th class="text-center">Expense Interest</th>
            <th class="text-center">Annual paymnent</th>
            <th class="text-center">Monthly paymnent</th>
            <th class="text-center">Participant Bank</th>
            <th class="text-center">Note</th>
            <th width="200"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
            <tr>
                <td class="hidden">
                    <span class="business-id">@item.Id</span>
                </td>
                <td>@item.Source</td>
                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.Income)</td>
                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.Income * 12)</td>
                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.CapitalValue)</td>
                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.LoanValue)</td>
                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.ExpenseInterest)</td>
                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.LoanValue * item.ExpenseInterest / 100)</td>
                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.LoanValue * item.ExpenseInterest / 1200)</td>
                <td>@item.ParticipantBank</td>
                <td>@item.Note</td>
                <td class="text-center">
                    <button class="btn btn-success update-business">Update</button>
                    <button class="btn btn-danger delete-business">Delete</button>
                </td>
            </tr>
                {
                    totalBusinessIncome += item.Income;
                    totalCapitalValue += item.CapitalValue;
                    totalLoanValue += item.LoanValue;
                    totalAnnualPayment += (item.LoanValue * item.ExpenseInterest / 100);
                }
            }
        <tr>
            <td><strong>Total value</strong></td>
            <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalBusinessIncome)</strong></td>
            <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalBusinessIncome * 12)</strong></td>
            <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalCapitalValue)</strong></td>
            <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalLoanValue)</strong></td>
            <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalLoanValue > 0 ? totalAnnualPayment / totalLoanValue : 0)</strong></td>
            <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalAnnualPayment)</strong></td>
            <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(totalAnnualPayment / 12)</strong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        }
        else
        {
            <tr>
                <td class="text-center" colspan="11">No business income available</td>
            </tr>
        }
    </tbody>
</table>


