@model CashFlowManagement.EntityModel.BusinessLoan
<div id="create-new-loan-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new loan</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Source of loan:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.BusinessId, new { @type = "text", @class = "hidden", @readonly = true })
                            @Html.TextBoxFor(x => x.Source, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mortgage Value:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.MortgageValue, new { @Value = "", @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Interest type:</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(x => x.InterestType, new List<SelectListItem> {
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Fixed",
                                                                                                       Value = "1",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Reducing",
                                                                                                       Value = "2",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                }, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Interest Rate (%):</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.InterestRatePerYear, new { @Value = "", @type = "text", @class = "form-control percentage" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">From:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.StartDate, new { @Value = "", @type = "text", @class = "form-control date-picker" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">To:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.EndDate, new { @Value = "", @type = "text", @class = "form-control date-picker" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success create-loan">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


