@model CashFlowManagement.EntityModel.BusinessLoan
<div id="update-loan-modal" class="modal fade with-rate" role="dialog" >
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update loan</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Interest Rate (%):</label>
                            <div class="col-sm-9">
                                @Html.HiddenFor(x => x.Id)
                                @Html.TextBoxFor(x => x.InterestRatePerYear, new { @type = "text", @class = "form-control percentage" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">From:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.StartDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">To:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.EndDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="payments-per-month-table">
                    
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success save-loan">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var _data = @Model.Id;

        $.ajax({
            url: Url.PaymentsPerMonth,
            type: "get",
            data: { loanId: _data },
            dataType: "html",
            success: function (data) {
                $(".payments-per-month-table").html($(data).find(".modal-body").html());
            }
        })
    })
</script>
