@model List<CashFlowManagement.EntityModel.Log>
@using CashFlowManagement.Utilities
@using CashFlowManagement.Constants
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="active">Nhật ký</li>
</ol>

<div class="background">
    <form id="log-form">
        <table class="table table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="text-center">Ngày</th>
                    <th class="text-center">Loại phát sinh</th>
                    <th class="text-center">Diễn giải</th>
                    <th class="text-center">Giá trị</th>
                    <th class="text-center">Số tiền có sẵn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control input-sm date-picker" name="Date" placeholder="Ngày" />
                    </td>
                    <td>
                        <select class="form-control input-sm" name="LogType" placeholder="Loại phát sinh">
                            <option value="@((int)Constants.LOG_TYPE.INCOME)">Thu</option>
                            <option value="@((int)Constants.LOG_TYPE.EXPENSE)">Chi</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control input-sm" name="LogContent" placeholder="Diễn giải" />
                    </td>
                    <td>
                        <input class="form-control input-sm input-mask" name="Value" placeholder="Giá trị" />
                    </td>
                    <td></td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-sm create-log">Tạo mới</button>
                    </td>
                </tr>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                            <tr>
                                <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if(item.LogType == (int)Constants.LOG_TYPE.INCOME)
                                    {
                                        @Html.Raw("Thu")
                                    }
                                    else if(item.LogType == (int)Constants.LOG_TYPE.EXPENSE)
                                    {
                                        @Html.Raw("Chi")
                                    }
                                    else if (item.LogType == (int)Constants.LOG_TYPE.ADD)
                                    {
                                        @Html.Raw("Tạo mới")
                                    }
                                    else if (item.LogType == (int)Constants.LOG_TYPE.BUY)
                                    {
                                        @Html.Raw("Mua")
                                    }
                                    else if (item.LogType == (int)Constants.LOG_TYPE.DELETE)
                                    {
                                        @Html.Raw("Xóa")
                                    }
                                    else if (item.LogType == (int)Constants.LOG_TYPE.SELL)
                                    {
                                        @Html.Raw("Bán")
                                    }
                                    else if (item.LogType == (int)Constants.LOG_TYPE.UPDATE)
                                    {
                                        @Html.Raw("Cập nhật")
                                    }
                                </td>
                                <td>@item.LogContent</td>
                                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.Value)</td>
                                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.AvailableMoney)</td>
                                <td></td>
                            </tr>
                        }
                    }
                else
                {
                    <tr class="text-center">
                        <td colspan="6">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
<script type="text/javascript" src="~/Scripts/log.js"></script>
<script type="text/javascript">
    var Url = new Object();
    Url.LoadTable = '@Url.Action("Index", "Log")';
    Url.CreateLog = '@Url.Action("CreateLog", "Log")';
</script>