@model CashFlowManagement.ViewModels.ExpenseListViewModel
@using CashFlowManagement.Constants
@using CashFlowManagement.Utilities
@using CashFlowManagement.EntityModel
@{
    ViewBag.Title = "ExpenseTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string title = string.Empty;
    string type = string.Empty;
    if (Model.Type == (int)Constants.EXPENSE_TYPE.FAMILY)
    {
        title = "Chi tiêu gia đình";
    }
    else if (Model.Type == (int)Constants.EXPENSE_TYPE.OTHERS)
    {
        title = "Chi tiêu khác";
    }
}

<ol class="breadcrumb">
    <li class="active">Chi tiêu</li>
    <li class="active">@title</li>
</ol>

<div class="background">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-new-expense-modal">
        <span class="glyphicon glyphicon-plus"></span>
        Tạo mới
    </button>
    <div class="expense-table">
        <table class="table table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    @if (Model.Type == (int)Constants.EXPENSE_TYPE.FAMILY)
                    {
                        <th class="text-center">Chi tiêu gia đình</th>
                    }
                    else if (Model.Type == (int)Constants.EXPENSE_TYPE.OTHERS)
                    {
                        <th class="text-center">Chi tiêu khác</th>
                    }
                    <th class="text-center">Chi tiêu tháng</th>
                    <th class="text-center">Chi tiêu năm</th>
                    <th class="text-center">Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.List.Any())
                {
                    <tr>
                        <td><strong>Tổng</strong></td>
                        <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.TotalMonthlyExpense)</strong></td>
                        <td><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.TotalMonthlyExpense * 12)</strong></td>
                        <td></td>
                    </tr>
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.Value)</td>
                            <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.Value * 12)</td>
                            <td class="text-center" width="160px">
                                <button class="btn btn-success update-expense" data-expense-id="@item.Id">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Cập nhật
                                </button>
                                <button class="btn btn-danger delete-expense" data-expense-id="@item.Id">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Xóa
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="expense-modal">
    @{ Html.RenderPartial("_ExpenseModal", new Expenses
        {
            ExpenseType = Model.Type
        }); }
</div>

<div class="update-modal">

</div>


<script type="text/javascript" src="~/Scripts/expense.js"></script>
<script type="text/javascript">
    var Url = new Object();
    Url.CreateExpense = '@Url.Action("CreateExpense", "Expense")';
    Url.LoadTable = '@Url.Action("ExpenseTable", "Expense")';
    Url.LoadExpense = '@Url.Action("_ExpenseUpdateModal", "Expense")';
    Url.UpdateExpense = '@Url.Action("UpdateExpense", "Expense")';
    Url.DeleteExpense = '@Url.Action("DeleteExpense", "Expense")';
    var expenseType = @Model.Type;
</script>