@model CashFlowManagement.EntityModel.StockTransactions
<div id="create-new-transaction-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new transaction</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Transaction type:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.StockId, new { @type = "text", @class = "hidden", @readonly = true })
                            @Html.DropDownListFor(x => x.TransactionType, new List<SelectListItem> {
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Buy",
                                                                                                       Value = "1",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Sale",
                                                                                                       Value = "2",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Dividend",
                                                                                                       Value = "3",
                                                                                                       Selected = true
                                                                                                   }
                                                                                                }, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Trade day:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.TradeDay, new { @type = "text", @class = "form-control date" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Number of shares:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.NumberOfShares, new { @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Spot rice:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.SpotPrice, new { @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Expected Diviend:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.ExpectedDiviend, new { @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mortgage Value:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.MortgageValue, new { @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Expense Interest:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.ExpenseInterest, new { @type = "text", @class = "form-control percentage" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Note:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Note, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success create-transaction">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





