@using CashFlowManagement.Utilities;
@using CashFlowManagement.EntityModel;
@using System.Web;
@using CashFlowManagement.Constants
@model CashFlowManagement.ViewModels.FinancialStatusViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Users user = (Users)HttpContext.Current.Session["USER"];
}

<div class="clear10"></div>
<div class="row background text-left">
    <div class="col-md-12">
        <div class="col-md-10">
            <h4>Website công cụ hỗ trợ quản lý thu chi ngân sách và đầu tư tài chính cá nhân của bạn!</h4>
        </div>
        <div class="col-md-2">
            @if (user == null)
            {
            <a href="@Url.Action("Register", "Account")" class="btn btn-primary" style="font-size: 13px">Mở tài khoản</a>
            }
        </div>
        <div class="clear10"></div>
        <div class="col-md-12"><h4>Báo cáo ngân sách của bạn:</h4></div>
    </div>
    <div class="col-md-3 text-center info">
        <span><strong>Dòng tiền tự do: </strong></span>
        @FormatUtility.DisplayThousandSeparatorsForNumber(Model.MonthlyCashflow) đồng
    </div>
    <div class="col-md-3 text-center info">
        <span><strong>Thu nhập thụ động: </strong></span>
        @FormatUtility.DisplayThousandSeparatorsForNumber(Model.PassiveIncome) đồng
    </div>
    <div class="col-md-3 text-center info">
        <span><strong>Tự do tài chính (mức độ cơ bản): </strong></span>
        @FormatUtility.DisplayPercentageForNumber(Model.FinancialFreedom)
    </div>
    <div class="col-md-3 text-center info">
        <span><strong>Vốn chủ sở hữu: </strong></span>
        @FormatUtility.DisplayThousandSeparatorsForNumber(Model.Equipty) đồng
    </div>
    <div class="clear10"></div>
    <div class="col-md-6">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr class="orange-header">
                    <th class="col-md-6"><strong>Thu nhập</strong></th>
                    <th class="col-md-6"><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.TotalIncomes)</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "Income")">Thu nhập từ lương</a>
                    </td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.SalaryIncome)</td>
                </tr>
                <tr>
                    <td>
                        <a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.REAL_ESTATE })">Thu nhập từ bất động sản</a>
                    </td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.RealEstateIncome)</td>
                </tr>
                <tr>
                    <td>
                        <a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.BUSINESS })">Thu nhập từ kinh doanh</a>
                    </td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.BusinessIncome)</td>
                </tr>
                <tr>
                    <td>
                        <a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.BANK_DEPOSIT })">Thu nhập từ tiền gửi tiết kiệm</a>
                    </td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.InterestIncome)</td>
                </tr>
                <tr>
                    <td>
                        <a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.STOCK })">Thu nhập từ cổ tức</a>
                    </td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.DividendIncome)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr class="orange-header">
                    <th class="col-md-6"><strong>Tài sản</strong></th>
                    <th class="col-md-6"><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.TotalAssets)</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiền mặt có sẵn</td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.AvailableMoney)</td>
                </tr>
                <tr>
                    <td>
                        <a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.REAL_ESTATE })">Tổng giá trị các bất động sản</a>
                    </td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.RealEstateValue)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.BUSINESS })">Tổng giá trị các hoạt động kinh doanh</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.BusinessValue)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.BANK_DEPOSIT })">Tổng giá trị các khoản gửi tiết kiệm</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.BankDepositValue)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.STOCK })">Tổng giá trị cổ phiếu</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.StockValue)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.INSURANCE })">Bảo hiểm nhân thọ và tài sản khác</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.InsuranceValue)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr class="orange-header">
                    <th class="col-md-6"><strong>Các khoản chi tiêu</strong></th>
                    <th class="col-md-6"><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.TotalExpenses)</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.REAL_ESTATE })">Chi tiêu các bất động sản</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.HomeMortgage)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("LiabilityTable", "Liability", new { type = (int)Constants.LIABILITY_TYPE.CAR })">Chi tiêu cho xe hơi và tiêu sản khác</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.CarPayment)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("LiabilityTable", "Liability", new { type = (int)Constants.LIABILITY_TYPE.CREDIT_CARD })">Chi tiêu cho thẻ tín dụng</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.CreditCard)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.BUSINESS })">Chi cho các khoản vay kinh doanh</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.BusinessLoanExpenses)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.STOCK })">Chi cho các khoản vay chứng khoán</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.StockExpenses)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("LiabilityTable", "Liability", new { type = (int)Constants.LIABILITY_TYPE.OTHERS })">Chi cho các khoản vay khác</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.OtherLoanExpenses)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Index", "Expense", new { type = (int)Constants.EXPENSE_TYPE.FAMILY })">Chi tiêu trong gia đình (và cả bảo hiểm nhân thọ)</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.FamilyExpenses)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Index", "Expense", new { type = (int)Constants.EXPENSE_TYPE.OTHERS })">Chi tiêu khác</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.OtherExpenses)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr class="orange-header">
                    <th class="col-md-6"><strong>Các khoản nợ</strong></th>
                    <th class="col-md-6"><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.TotalLiabilities)</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.REAL_ESTATE })">Nợ bất động sản</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.HomeMortgageLiability)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("LiabilityTable", "Liability", new { type = (int)Constants.LIABILITY_TYPE.CAR })">Nợ xe hơi và tiêu sản khác</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.CarLoan)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("LiabilityTable", "Liability", new { type = (int)Constants.LIABILITY_TYPE.CREDIT_CARD })">Nợ tín dụng</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.CreditCard)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.BUSINESS })">Nợ vay cho kinh doanh</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.BusinessLoan)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("AssetTable", "Asset", new { type = (int)Constants.ASSET_TYPE.STOCK })">Vay mua chứng khoán</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.StockLoan)</td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("LiabilityTable", "Liability", new { type = (int)Constants.LIABILITY_TYPE.OTHERS })">Vay nợ cho các mục đích khác</a></td>
                    <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.OtherLoans)</td>
                </tr>
            </tbody>
        </table>
    </div>
    @*<div class="col-md-6 col-md-offset-6">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="col-md-6"><strong>Vốn chủ sở hữu</strong></th>
                        <th class="col-md-6"><strong>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.Equipty)</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vốn chủ sở hữu</td>
                        <td>@FormatUtility.DisplayThousandSeparatorsForNumber(Model.Equipty)</td>
                    </tr>
                </tbody>
            </table>
        </div>*@
</div>



