@model CashFlowManagement.EntityModel.Liabilities
@using CashFlowManagement.Constants
<div id="create-new-liability-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tạo nợ mới</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.OTHERS)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Mục tiêu sử dụng</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Purpose, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label col-sm-3">Nguồn vay nợ:</label>
                        <div class="col-sm-9">
                            @Html.HiddenFor(x => x.AssetId)
                            @Html.HiddenFor(x => x.LiabilityType)
                            @Html.HiddenFor(x => x.TransactionId)
                            @Html.TextBoxFor(x => x.Name, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                    @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CAR)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Tổng giá trị:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.OriginalValue, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE || Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS)
                            {
                                @Html.Raw("Giá trị nợ:");
                            }
                            else if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CAR)
                            {
                                @Html.Raw("Vốn vay:");
                            }
                            else if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.OTHERS)
                            {
                                @Html.Raw("Số tiền vay:");
                            }
                            else if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.STOCK)
                            {
                                @Html.Raw("Giá trị vay:");
                            }
                            else if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CREDIT_CARD)
                            {
                                @Html.Raw("Giá trị đã dùng:");
                            }
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Value, new { @Value = "", @type = "text", @class = "form-control input-mask" })
                        </div>
                    </div>
                    @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE || Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS
                        || Model.LiabilityType == (int)Constants.LIABILITY_TYPE.STOCK)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Loại lãi suất:</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.InterestType, new List<SelectListItem> {
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Cố định",
                                                                                                       Value = "1",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Giảm dần",
                                                                                                       Value = "2",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                }, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CREDIT_CARD)
                            {
                                @Html.Raw("Chi phí lãi:");
                            }
                            else if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.STOCK)
                            {
                                @Html.Raw("Chi phí lãi vay:");
                            }
                            else
                            {
                                @Html.Raw("Lãi vay:");
                            }
                        </label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.InterestRate, new { @Value = "", @type = "text", @class = "form-control percentage" })
                        </div>
                    </div>
                    @if (Model.LiabilityType != (int)Constants.LIABILITY_TYPE.CREDIT_CARD)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS ||
                                Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE)
                                {
                                    @Html.Raw("Ngày bắt đầu vay:");
                                }
                                else
                                {
                                    @Html.Raw("Từ ngày:");
                                }
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.StartDate, new { @Value = "", @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS ||
                                 Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE)
                                {
                                    @Html.Raw("Ngày trả hết nợ:");
                                }
                                else
                                {
                                    @Html.Raw("Đến ngày:");
                                }
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.EndDate, new { @Value = "", @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                    }
                    @if (Model.LiabilityType != (int)Constants.LIABILITY_TYPE.BUSINESS &&
                        Model.LiabilityType != (int)Constants.LIABILITY_TYPE.REAL_ESTATE)
                    {
                    <div class="form-group">
                        <label class="control-label col-sm-3">Ghi chú:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.Note, new { @type = "text", @class = "form-control", @placeholder = "Không bắt buộc" })
                        </div>
                    </div>
                    }
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success create-liability">Tạo mới</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
