@model CashFlowManagement.EntityModel.Liabilities
@using CashFlowManagement.Constants
@{ var length = Model.InterestRate == 0 ? 600 : 800;
    var cls = Model.InterestRate > 0 ? "with-rate" : string.Empty;}
<div id="update-liability-modal" class="modal fade @cls" role="dialog">
    <div class="modal-dialog" style="width: @(length)px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật nợ</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    @Html.TextBoxFor(x => x.AssetId, new { @type = "text", @class = "hidden", @readonly = true })
                    @Html.TextBoxFor(x => x.Id, new { @type = "text", @class = "hidden", @readonly = true })
                    @Html.TextBoxFor(x => x.LiabilityType, new { @type = "text", @class = "hidden", @readonly = true })
                    @Html.TextBoxFor(x => x.Username, new { @type = "text", @class = "hidden", @readonly = true })
                    @if (Model.InterestRate == 0 || (Model.InterestRate > 0 && (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CAR ||
        Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CREDIT_CARD || Model.LiabilityType == (int)Constants.LIABILITY_TYPE.OTHERS)))
                    {
                        if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.OTHERS)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-3">Mục tiêu sử dụng</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Purpose, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-sm-3">Nguồn vay nợ:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Name, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CAR)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-3">Tổng giá trị:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.OriginalValue, new { @type = "text", @class = "form-control input-mask" })
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE || Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS)
                                {
                                    @Html.Raw("Giá trị nợ:");
                                }
                                else if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CAR)
                                {
                                    @Html.Raw("Vốn vay:");
                                }
                                else if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.OTHERS)
                                {
                                    @Html.Raw("Số tiền vay:");
                                }
                                else if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CREDIT_CARD)
                                {
                                    @Html.Raw("Giá trị đã dùng:");
                                }
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                        if (Model.InterestRate == 0 && (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE ||
                    Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS))
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-3">Loại lãi suất:</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(x => x.InterestType, new List<SelectListItem> {
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Cố định",
                                                                                                       Value = "1",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Giảm dần",
                                                                                                       Value = "2",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                }, new { @type = "text", @class = "form-control" })
                                </div>
                            </div>
                        }
                    }
                    @if (Model.InterestRate > 0)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.CREDIT_CARD)
                                {
                                    @Html.Raw("Chi phí lãi:");
                                }
                                else
                                {
                                    @Html.Raw("Lãi vay:");
                                }
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.InterestRate, new { @type = "text", @class = "form-control percentage" })
                            </div>
                        </div>
                    }
                    @if (Model.LiabilityType != (int)Constants.LIABILITY_TYPE.CREDIT_CARD)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS ||
Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE)
                                {
                                    @Html.Raw("Ngày bắt đầu vay:");
                                }
                                else
                                {
                                    @Html.Raw("Từ ngày:");
                                }
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.StartDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                @if (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS ||
Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE)
                                {
                                    @Html.Raw("Ngày trả hết nợ:");
                                }
                                else
                                {
                                    @Html.Raw("Đến' ngày:");
                                }
                            </label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.EndDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                            </div>
                        </div>
                    }
                    @if (Model.LiabilityType != (int)Constants.LIABILITY_TYPE.BUSINESS &&
Model.LiabilityType != (int)Constants.LIABILITY_TYPE.REAL_ESTATE)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ghi chú:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Note, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                </form>
                @if (Model.InterestRate > 0 && (Model.LiabilityType == (int)Constants.LIABILITY_TYPE.REAL_ESTATE || Model.LiabilityType == (int)Constants.LIABILITY_TYPE.BUSINESS))
                {
                    <div class="payments-per-month-table">

                    </div>
                }
            </div>
            <div class="modal-footer text-center">
                @{ var edit = Model.InterestRate == 0 ? "save-no-rate" : "save-rate"; }
                <button type="button" class="btn btn-success save-liability" data-trigger="@edit">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var _data = @Model.Id;

        $.ajax({
            url: Url.PaymentPerMonth,
            type: "get",
            data: { id: _data },
            dataType: "html",
            success: function (data) {
                $(".payments-per-month-table").html($(data).find(".modal-body").html());
            }
        })
    })
</script>