@model CashFlowManagement.EntityModel.Liabilities
@{ var length = Model.InterestRate == 0 ? 600 : 800;
   var cls = Model.InterestRate > 0 ? "with-rate" : string.Empty;}
<div id="update-liability-modal" class="modal fade @cls" role="dialog">
    <div class="modal-dialog" style="width: @(length)px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật nợ</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    @Html.TextBoxFor(x => x.AssetId, new { @type = "text", @class = "hidden", @readonly = true })
                    @Html.TextBoxFor(x => x.Id, new { @type = "text", @class = "hidden", @readonly = true })
                    @Html.TextBoxFor(x => x.LiabilityType, new { @type = "text", @class = "hidden", @readonly = true })
                    @Html.TextBoxFor(x => x.Username, new { @type = "text", @class = "hidden", @readonly = true })
                    @if (Model.InterestRate == 0)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Nguồn vay nợ:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Name, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Giá trị nợ:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Value, new { @type = "text", @class = "form-control input-mask" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Loại lãi suất:</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(x => x.InterestType, new List<SelectListItem> {
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Cố định",
                                                                                                       Value = "1",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                   new SelectListItem
                                                                                                   {
                                                                                                       Text = "Giảm dần",
                                                                                                       Value = "2",
                                                                                                       Selected = true
                                                                                                   },
                                                                                                }, new { @type = "text", @class = "form-control" })
                            </div>
                        </div>
                    }
                    @if (Model.InterestRate > 0)
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-3">Lãi vay (%):</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.InterestRate, new { @type = "text", @class = "form-control percentage" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label col-sm-3">Ngày bắt đầu vay:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.StartDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Ngày trả hết nợ:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x => x.EndDate, "{0:MM/yyyy}", new { @type = "text", @class = "form-control date-picker" })
                        </div>
                    </div>
                </form>
                @if (Model.InterestRate > 0)
                {
                    <div class="payments-per-month-table">

                    </div>
                }
            </div>
            <div class="modal-footer text-center">
                @{ var edit = Model.InterestRate == 0 ? "save-no-rate" : "save-rate"; }
                <button type="button" class="btn btn-success save-liability" data-trigger="@edit">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var _data = @Model.Id;

        $.ajax({
            url: Url.PaymentPerMonth,
            type: "get",
            data: { id: _data },
            dataType: "html",
            success: function (data) {
                $(".payments-per-month-table").html($(data).find(".modal-body").html());
            }
        })
    })
</script>