@model List<CashFlowManagement.ViewModels.LiabilityPaymentViewModel>
@using CashFlowManagement.Utilities

@{ var count = 1;}
<div id="interest-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chi tiết lãi hàng tháng</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tháng</th>
                            <th>Lãi vay</th>
                            <th>Nợ gốc còn phải trả</th>
                            <th>Trả gốc hàng tháng</th>
                            <th>Trả lãi hàng tháng</th>
                            <th>Tổng phải trả hàng tháng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var color = item.Highlight ? "aqua" : string.Empty;
                            <tr style="background-color: @color">
                                <td>@count</td>
                                <td>@item.CurrentMonth.ToString("dd/MM/yyyy")</td>
                                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.CurrentInterestRatePerYear)%</td>
                                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.RemainingLoan)</td>
                                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.MonthlyOriginalPayment)</td>
                                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.MonthlyInterestPayment)</td>
                                <td>@FormatUtility.DisplayThousandSeparatorsForNumber(item.MonthlyTotalPayment)</td>
                                @{count++;}
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

