@model CashFlowManagement.Models.OtherExpenseCreateViewModel
@using CashFlowManagement.Constants
@{
    Layout = null;
}

<div id="other-expense-create-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog" style="width: 350px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="font-size: 26px !important; color: red !important">&times;</button>
                <p style="font-size: 16px; margin-bottom: 0px;">Khởi tạo chi tiêu khác</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="salary-div" class="col-md-12">
                        @using (Html.BeginForm("_OtherExpenseForm", "OtherExpense", FormMethod.Post, new { @id = "other-expense-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(x => x.Source)
                                @Html.TextBoxFor(x => x.Source, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(x => x.Source, null, new { @class = "text-danger" })
                                <p class="note text-danger">VD: Chi phí nuôi thú cưng</p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Expense)
                                @Html.EditorFor(x => x.Expense, new { htmlAttributes = new { @class = "form-control input-mask input-sm" } })
                                @Html.ValidationMessageFor(x => x.Expense, null, new { @class = "text-danger" })
                                <p class="note text-danger">VD: 1.000.000</p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ExpenseDay)
                                @Html.DropDownListFor(x => x.ExpenseDay, Constants.IncomeDayList(), new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(x => x.ExpenseDay, null, new { @class = "text-danger" })
                                <p class="note text-danger">VD: 10</p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Note)
                                @Html.TextAreaFor(x => x.Note, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Note, null, new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success create-other-expense">
                    <span class="glyphicon glyphicon-ok"></span>
                    Tạo chi tiêu
                </button>
            </div>
        </div>
    </div>
</div>


