@using CashFlowManagement.Models
@{
    ViewBag.Title = "Quản lý tài sản khác";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Tài sản</a>
            <a href="#" class="btn btn-default">Tài sản khác</a>
            <a href="#" class="btn btn-default">Chi tiết tài sản khác</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px;">Quản lý tài sản khác</p>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-success toggle-modal">
            <span class="glyphicon glyphicon-home"></span>
            Tạo tài sản
        </button>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="other-asset-table-div">
        @{ Html.RenderAction("_OtherAssetTable", "OtherAsset"); }
    </div>
</div>

@{
    var navList = (List<NavigationViewModel>)HttpContext.Current.Session["NAV_LIST"];
    var currentId = navList.Where(x => x.Current == true).FirstOrDefault().Id;
    string previousText = string.Empty;
    string nextText = string.Empty;
    if (currentId - 1 > 0)
    {
        var previous = navList.Where(x => x.Id == currentId - 1).FirstOrDefault();
        previousText = previous.Display;
    }

    if (currentId + 1 < navList.Count() + 1)
    {
        var next = navList.Where(x => x.Id == currentId + 1).FirstOrDefault();
        nextText = next.Display;
    }
    else if (currentId + 1 == navList.Count() + 1)
    {
        nextText = "Hoàn tất khởi tạo";
    }
}

<footer class="col-md-12 text-right">
    @if (!string.IsNullOrEmpty(previousText))
    {
        <a href="@Url.Action("Previous", "Navigation")" class="btn btn-primary " style="font-size: 11px;">
            <span class="glyphicon glyphicon-arrow-left"></span>
            @previousText
        </a>
    }

    @if (!string.IsNullOrEmpty(nextText))
    {
        <a href="@Url.Action("Next", "Navigation")" class="btn btn-primary " style="font-size: 11px;">
            <span class="glyphicon glyphicon-arrow-right"></span>
            @nextText
        </a>
    }
</footer>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/otherasset.js"></script>
<script type="text/javascript">
    var Url = {};
    Url._LiabilityForm = '@Url.Action("_LiabilityForm", "OtherAsset")';
    Url.LiabilityForm2nd = '@Url.Action("_LiabilityForm2nd", "OtherAsset")';
    Url._LiabilityTable = '@Url.Action("_LiabilityTable", "OtherAsset")';
    Url.CreateOtherAsset = '@Url.Action("_Create", "OtherAsset")';
    Url.Confirm = '@Url.Action("_Confirm", "OtherAsset")';
    Url.SaveOtherAsset = '@Url.Action("Save", "OtherAsset")';
    Url.OtherAssetTable = '@Url.Action("_OtherAssetTable", "OtherAsset")';
    Url.DeleteTempLiability = '@Url.Action("DeleteTempLiability", "OtherAsset")';
    Url.DeleteLiability = '@Url.Action("DeleteLiability", "OtherAsset")';
    Url.DeleteOtherAsset = '@Url.Action("DeleteOtherAsset", "OtherAsset")';
    Url.LiabilityUpdateForm = '@Url.Action("_LiabilityUpdateForm", "OtherAsset")';
    Url.LiabilityUpdateForm2nd = '@Url.Action("_LiabilityUpdateForm2nd", "OtherAsset")';
    Url.OtherAssetUpdateForm = '@Url.Action("_OtherAssetUpdateForm", "OtherAsset")';
</script>