@model CashFlowManagement.Models.AssetSummaryViewModel

<div id="asset-summary-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog" style="width: 1100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="font-size: 26px !important; color: red !important">&times;</button>
                <p style="font-size: 16px; margin-bottom: 0px;">Xác nhận thông tin khởi tạo tài sản</p>
            </div>
            <div class="modal-body" style="padding: 0 20px 0 20px !important">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("Index", "RealEstate")" class="text-success" style="font-size: 18px !important;">
                            Bất động sản  <span class="glyphicon glyphicon-edit" style="font-size: 14px !important"></span>
                        </a>
                        <table class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th>Bất động sản</th>
                                    <th class="text-right">Thu hàng tháng</th>
                                    <th class="text-right">Thu hàng năm</th>
                                    <th class="text-right">Giá trị tài sản</th>
                                    <th class="text-right">Tỷ suất lợi nhuận cho thuê</th>
                                    <th class="text-right">Giá trị tiền vay</th>
                                    <th class="text-right">Chi phí lãi vay</th>
                                    <th class="text-right">Phải trả hàng tháng</th>
                                    <th class="text-right">Phải trả hàng năm</th>
                                    <th class="text-right">Số tiền gốc còn phải trả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.RealEstates.RealEstateSummaries.Any())
                                {
                                    <tr>
                                        <td class="text-danger text-left"><strong>Tổng</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalIncome)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalAnnualIncome)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalValue)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalRentYield)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalLiabilityValue)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalInterestRate) / Năm</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalMonthlyPayment)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalAnnualPayment)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.RealEstates.TotalRemainedValue)</strong></td>
                                    </tr>
                                    foreach (var realEstate in Model.RealEstates.RealEstateSummaries)
                                    {
                                        <tr>
                                            <td class="text-left">@Html.DisplayFor(x => realEstate.Name)</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.Income)</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.AnnualIncome)</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.Value)</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.RentYield)</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.LiabilityValue)</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.InterestRate) / Năm</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.MonthlyPayment)</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.AnnualPayment)</td>
                                            <td class="text-right">@Html.DisplayFor(x => realEstate.RemainedValue)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10">Không có bất động sản</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("Index", "Business")" class="text-success" style="font-size: 18px !important;">
                            Kinh doanh  <span class="glyphicon glyphicon-edit" style="font-size: 14px !important"></span>
                        </a>
                        <table class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th width="100">Kinh doanh</th>
                                    <th class="text-right">Thu hàng tháng</th>
                                    <th class="text-right">Thu hàng năm</th>
                                    <th class="text-right">Giá trị góp vốn</th>
                                    <th class="text-right">Tỷ suất lợi tức kinh doanh</th>
                                    <th class="text-right">Giá trị tiền vay</th>
                                    <th class="text-right">Chi phí lãi vay</th>
                                    <th class="text-right">Phải trả hàng tháng</th>
                                    <th class="text-right">Phải trả hàng năm</th>
                                    <th class="text-right">Số tiền gốc còn phải trả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Businesses.BusinessSummaries.Any())
                                {
                                    <tr>
                                        <td class="text-danger text-left"><strong>Tổng</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalIncome)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalAnnualIncome)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalValue)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalRentYield)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalLiabilityValue)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalInterestRate) / Năm</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalMonthlyPayment)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalAnnualPayment)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Businesses.TotalRemainedValue)</strong></td>
                                    </tr>
                                    foreach (var business in Model.Businesses.BusinessSummaries)
                                    {
                                        <tr>
                                            <td class="text-left">@Html.DisplayFor(x => business.Name)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.Income)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.AnnualIncome)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.Value)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.RentYield)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.LiabilityValue)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.InterestRate) / Năm</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.MonthlyPayment)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.AnnualPayment)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.RemainedValue)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10">Không có kinh doanh</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("Index", "BankDeposit")" class="text-success" style="font-size: 18px !important;">
                            Tài khoản tiết kiệm  <span class="glyphicon glyphicon-edit" style="font-size: 14px !important"></span>
                        </a>
                        <table class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-left">Tài khoản tiết kiệm</th>
                                    <th class="text-right">Ngày gửi tiết kiệm</th>
                                    <th class="text-right">Ngày đáo hạn</th>
                                    <th class="text-right">Kỳ hạn</th>
                                    <th class="text-right">Thu nhập tháng</th>
                                    <th class="text-right">Thu nhập năm</th>
                                    <th class="text-right">Tổng vốn</th>
                                    <th class="text-right">Lãi suất tiền gửi</th>
                                    <th>Kiểu nhận lãi</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.BankDeposits.BankDepositSummaries.Any())
                                {
                                    <tr>
                                        <td class="text-danger text-left"><strong>Tổng</strong></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.BankDeposits.TotalIncome)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.BankDeposits.TotalAnnualIncome)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.BankDeposits.TotalValue)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.BankDeposits.TotalInterestRate) / Năm</strong></td>
                                        <td></td>
                                    </tr>
                                    foreach (var bankDeposits in Model.BankDeposits.BankDepositSummaries)
                                    {
                                        <tr>
                                            <td class="text-left">@Html.DisplayFor(x => bankDeposits.Name)</td>
                                            <td class="text-right">@Html.DisplayFor(x => bankDeposits.StartDate)</td>
                                            <td class="text-right">@Html.DisplayFor(x => bankDeposits.EndDate)</td>
                                            <td class="text-right">@Html.DisplayFor(x => bankDeposits.PaymentPeriod)</td>
                                            <td class="text-right">@Html.DisplayFor(x => bankDeposits.Income)</td>
                                            <td class="text-right">@Html.DisplayFor(x => bankDeposits.AnnualIncome)</td>
                                            <td class="text-right">@Html.DisplayFor(x => bankDeposits.Value)</td>
                                            <td class="text-right">@Html.DisplayFor(x => bankDeposits.InterestRate) / @Html.DisplayFor(x => bankDeposits.InterestRatePerX)</td>
                                            <td class="text-right">@Html.DisplayFor(x => bankDeposits.InterestObtainWay)</td>
                                            <td>@Html.DisplayFor(x => bankDeposits.Note)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="10">Không có tài khoản tiết kiệm</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("Index", "Stock")" class="text-success" style="font-size: 18px !important;">
                            Cổ phiếu  <span class="glyphicon glyphicon-edit" style="font-size: 14px !important"></span>
                        </a>
                        <table class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-left">Mã cổ phiếu</th>
                                    <th class="text-right">Số lượng cổ phiếu</th>
                                    <th class="text-right">Giá cổ phiếu</th>
                                    <th class="text-right">Tổng giá trị vốn</th>
                                    <th class="text-right">Cổ tức mong đợi</th>
                                    <th class="text-right">Giá trị tiền vay</th>
                                    <th class="text-right">Chi phí lãi vay</th>
                                    <th class="text-right">Phải trả hàng tháng</th>
                                    <th class="text-right">Phải trả hàng năm</th>
                                    <th class="text-right">Số tiền gốc còn phải trả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Stocks.StockSummaries.Any())
                                {
                                    <tr>
                                        <td class="text-danger text-left"><strong>Tổng</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Stocks.TotalNumberOfStock)</strong></td>
                                        <td></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Stocks.TotalStockValue)</strong></td>
                                        <td></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Stocks.TotalLiabilityValue)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Stocks.TotalInterestRate) / Năm</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Stocks.TotalMonthlyPayment)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Stocks.TotalAnnualPayment)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Stocks.TotalRemainedValue)</strong></td>
                                    </tr>
                                    foreach (var stock in Model.Stocks.StockSummaries)
                                    {
                                        <tr>
                                            <td class="text-left">@Html.DisplayFor(x => stock.Name)</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.NumberOfStock)</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.SpotRice)</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.StockValue)</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.ExpectedDividend) mệnh giá / Năm</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.LiabilityValue)</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.InterestRate) / Năm</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.MonthlyPayment)</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.AnnualPayment)</td>
                                            <td class="text-right">@Html.DisplayFor(x => stock.RemainedValue)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="10">Không có cổ phiếu</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("Index", "Insurance")" class="text-success" style="font-size: 18px !important;">
                            Bảo hiểm nhân thọ  <span class="glyphicon glyphicon-edit" style="font-size: 14px !important"></span>
                        </a>
                        <table class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th>Bảo hiểm nhân thọ</th>
                                    <th class="text-right">Tổng giá trị thụ hưởng</th>
                                    <th class="text-right">Tổng phải đóng</th>
                                    <th class="text-right">Ngày bắt đầu</th>
                                    <th class="text-right">Ngày kết thúc</th>
                                    <th class="text-right">Tỉ suất sinh lờic</th>
                                    <th class="text-right">Tổng số tháng</th>
                                    <th class="text-right">Phải đóng hàng tháng</th>
                                    <th class="text-right">Phải đóng hàng năm</th>
                                    <th class="text-right">Còn phải đóng</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-danger"><strong>Tổng</strong></td>
                                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Insurances.TotalValue)</strong></td>
                                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Insurances.TotalTotalExpense)</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-danger"></td>
                                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Insurances.TotalExpense)</strong></td>
                                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Insurances.TotalAnnualExpense)</strong></td>
                                    <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.Insurances.TotalRemainedValue)</strong></td>
                                    <td></td>
                                </tr>
                                @if (Model.Insurances.InsuranceSummaries.Any())
                                {
                                    foreach (var item in Model.Insurances.InsuranceSummaries)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(x => item.Name)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.Value)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.TotalExpense)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.StartDate)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.EndDate)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.YieldRate)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.PaymentPeriod)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.Expense)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.AnnualExpense)</td>
                                            <td class="text-right">@Html.DisplayFor(x => item.RemainedValue)</td>
                                            <td>@Html.DisplayFor(x => item.Note)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="11">Không có bảo hiểm</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("Index", "OtherAsset")" class="text-success" style="font-size: 18px !important;">
                            Tài sản khác  <span class="glyphicon glyphicon-edit" style="font-size: 14px !important"></span>
                        </a>
                        <table class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th>Tài sản</th>
                                    <th class="text-right">Thu hàng tháng</th>
                                    <th class="text-right">Thu hàng năm</th>
                                    <th class="text-right">Giá trị góp vốn</th>
                                    <th class="text-right">Tỷ suất lợi nhuận</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.OtherAssets.OtherAssetSummaries.Any())
                                {
                                    <tr>
                                        <td class="text-danger text-left"><strong>Tổng</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.OtherAssets.TotalIncome)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.OtherAssets.TotalAnnualIncome)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.OtherAssets.TotalValue)</strong></td>
                                        <td class="text-danger text-right"><strong>@Html.DisplayFor(x => Model.OtherAssets.TotalRentYield)</strong></td>
                                    </tr>
                                    foreach (var business in Model.OtherAssets.OtherAssetSummaries)
                                    {
                                        <tr>
                                            <td class="text-left">@Html.DisplayFor(x => business.Name)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.Income)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.AnnualIncome)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.Value)</td>
                                            <td class="text-right">@Html.DisplayFor(x => business.RentYield)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">Không có tài sản khác</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("InsuranceInitialize", "Account")" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                    Xác nhận
                </a>
            </div>
        </div>
    </div>
</div>