@model CashFlowManagement.Models.InsuranceListViewModel

<div class="insurance-table-div">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Bảo hiểm nhân thọ</th>
                <th class="text-right">Tổng giá trị thụ hưởng</th>
                <th class="text-right">Tổng phải đóng</th>
                <th class="text-right">Ngày bắt đầu</th>
                <th class="text-right">Ngày kết thúc</th>
                <th class="text-right">Tỉ suất sinh lời</th>
                <th class="text-right">Tổng số tháng</th>
                <th class="text-right">Phải đóng hàng tháng</th>
                <th class="text-right">Phải đóng hàng năm</th>
                <th class="text-right">Còn phải đóng</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-danger"><strong>Tổng</strong></td>
                <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalValue)</strong></td>
                <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalTotalExpense)</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalExpense)</strong></td>
                <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalAnnualExpense)</strong></td>
                <td class="text-danger text-right"><strong>@Html.DisplayFor(x => x.TotalRemainedValue)</strong></td>
                <td></td>
            </tr>
            @if (Model.Insurances.Any())
            {
                foreach (var item in Model.Insurances)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.Name)<br />
                            @if (!Model.IsInitialized)
                            {
                                <a href="#" title="Cập nhật bảo hiểm" class="update-insurance" data-value="@Html.DisplayFor(x => item.Id)"><span class="glyphicon glyphicon-edit text-success" style="font-size: 14px;"></span></a>
                                <a href="#" title="Xóa bảo hiểm" class="delete-insurance" data-value="@Html.DisplayFor(x => item.Id)"><span class="glyphicon glyphicon-remove text-danger" style="font-size: 14px;"></span></a>
                            }
                        </td>
                        <td class="text-right">@Html.DisplayFor(x => item.Value)</td>
                        <td class="text-right">@Html.DisplayFor(x => item.TotalExpense)</td>
                        <td class="text-right">@Html.DisplayFor(x => item.StartDate)</td>
                        <td class="text-right">@Html.DisplayFor(x => item.EndDate)</td>
                        <td class="text-right">@Html.DisplayFor(x => item.YieldRate)</td>
                        <td class="text-right">@Html.DisplayFor(x => item.PaymentPeriod)</td>
                        <td class="text-right">@Html.DisplayFor(x => item.Expense)</td>
                        <td class="text-right">@Html.DisplayFor(x => item.AnnualExpense)</td>
                        <td class="text-right">@Html.DisplayFor(x => item.RemainedValue)</td>
                        <td>@Html.DisplayFor(x => item.Note)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="11">Chưa có bảo hiểm</td>
                </tr>
            }
        </tbody>
    </table>
</div>
