@model CashFlowManagement.Models.OtherAssetListViewModel

<div class="other-asset-table-div">
    <table class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th style="white-space: nowrap">Tên tài sản</th>
                <th class="text-right" style="white-space: nowrap">Trị giá tài sản</th>
                <th class="text-right" colspan="2" style="white-space: nowrap">Thu nhập hàng tháng</th>
                <th class="text-right" colspan="1" style="white-space: nowrap">Thu nhập hàng năm</th>
                <th class="text-right" colspan="2" style="white-space: nowrap">Tỷ suất lợi nhuận</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Assets.Any())
            {
                <tr>
                    <td><strong class="text-danger">Tổng</strong></td>
                    <td class="text-right"><strong class="text-danger">@Html.DisplayFor(x => x.TotalValue)</strong></td>
                    <td class="text-right" colspan="2"><strong class="text-danger">@Html.DisplayFor(x => x.TotalMonthlyIncome)</strong></td>
                    <td class="text-right" colspan="1"><strong class="text-danger">@Html.DisplayFor(x => x.TotalAnnualIncome)</strong></td>
                    <td class="text-right" colspan="2"><strong class="text-danger">@Html.DisplayFor(x => x.TotalRentYield)</strong></td>
                    <td class="text-right"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                foreach (var otherAsset in Model.Assets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => otherAsset.Name)<br />
                            @if (!Model.IsInitialized)
                            {
                                <a href="#" title="Cập nhật tài sản">
                                    <span class="glyphicon glyphicon-edit text-success update-other-asset" data-value="@Html.DisplayFor(x => otherAsset.Id)" style="font-size: 12px"></span>
                                </a>
                                <a href="#" title="Xóa tài sản">
                                    <span class="glyphicon glyphicon-remove text-danger delete-other-asset" data-value="@Html.DisplayFor(x => otherAsset.Id)" style="font-size: 12px"></span>
                                </a>
                            }
                        </td>
                        <td class="text-right">@Html.DisplayFor(x => otherAsset.Value)</td>
                        <td class="text-right" colspan="2">@Html.DisplayFor(x => otherAsset.Income)</td>
                        <td class="text-right" colspan="1">@Html.DisplayFor(x => otherAsset.AnnualIncome)</td>
                        <td class="text-right" colspan="2">@Html.DisplayFor(x => otherAsset.RentYield)</td>
                        <td class="text-right"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="13" class="text-center">Chưa có tài sản</td>
                </tr>
            }
        </tbody>
    </table>
</div>