@model bool
@{
    ViewBag.Title = "Quản lý bảo hiểm nhân thọ và tài sản khác";
    if (Model)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AssetLayout.cshtml";
    }
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Tài sản</a>
            <a href="#" class="btn btn-default">Bảo hiểm nhân thọ và tài sản khác</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px; margin-bottom: 5px !important">Quản lý bảo hiểm nhân thọ và tài sản khác</p>
        <p style="font-size: 12px; font-style: italic; width: 400px">(Trừ vàng, ngoại tệ, và tiền ảo, các tài sản khác phải có khả năng sinh ra dòng tiền thu nhập, nếu không có thu nhập thì là tiêu sản)</p>
        @if (!Model) 
        {
            <p style="font-size: 12px; font-style: italic">(Nếu không có bảo hiểm nhân thọ và tài sản khác, vui lòng chọn Hoàn tất)</p>
        }
    </div>
    @if (!Model)
    {
        <div class="col-md-6 text-right button-div">
            <button type="button" class="btn btn-success toggle-insurance-modal">
                <span class="glyphicon glyphicon-home"></span>
                Tạo bảo hiểm
            </button>
            <button type="button" class="btn btn-success toggle-asset-modal">
                <span class="glyphicon glyphicon-home"></span>
                Tạo tài sản khác
            </button>
            <a href="@Url.Action("Index", "Stock")" class="btn btn-default " style="font-size: 11px;">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Quay lại
            </a>
            <a href="#" class="btn btn-primary asset-toggle-summary" style="font-size: 11px;">
                <span class="glyphicon glyphicon-ok"></span>
                Hoàn tất
            </a>
        </div>
    }
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="insurance-table-div">
        @{ Html.RenderAction("_InsuranceTable", "Insurance"); }
    </div>
</div>

<div class="clear10"></div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="other-asset-table-div">
        @{ Html.RenderAction("_OtherAssetTable", "Insurance"); }
    </div>
</div>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/insurance.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.InsuranceForm = '@Url.Action("_InsuranceForm", "Insurance")';
    Url.InsuranceTable = '@Url.Action("_InsuranceTable", "Insurance")';
    Url.CreateInsurance = '@Url.Action("_CreateInsurance", "Insurance")';
    Url.SaveInsurance = '@Url.Action("SaveInsurance", "Insurance")';
    Url.InsuranceTable = '@Url.Action("_InsuranceTable", "Insurance")';
    Url.DeleteInsurance = '@Url.Action("DeleteInsurance", "Insurance")';
    Url.InsuranceUpdateForm = '@Url.Action("_InsuranceUpdateForm", "Insurance")';
    Url.OtherAssetForm = '@Url.Action("_OtherAssetForm", "Insurance")';
    Url.OtherAssetTable = '@Url.Action("_OtherAssetTable", "Insurance")';
    Url.CreateOtherAsset = '@Url.Action("_CreateOtherAsset", "Insurance")';
    Url.SaveOtherAsset = '@Url.Action("SaveOtherAsset", "Insurance")';
    Url.OtherAssetTable = '@Url.Action("_OtherAssetTable", "Insurance")';
    Url.DeleteOtherAsset = '@Url.Action("DeleteOtherAsset", "Insurance")';
    Url.OtherAssetUpdateForm = '@Url.Action("_OtherAssetUpdateForm", "Insurance")';
    Url.AssetSummary = '@Url.Action("_AssetSummary", "Insurance")';
</script>