@using CashFlowManagement.Models
@{
    ViewBag.Title = "Quản lý bảo hiểm nhân thọ";
    Layout = "~/Views/Shared/_AssetLayout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Tài sản</a>
            <a href="#" class="btn btn-default">Bảo hiểm nhân thọ</a>
            <a href="#" class="btn btn-default">Chi tiết bảo hiểm nhân thọ</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px; margin-bottom: 5px !important">Quản lý bảo hiểm nhân thọ</p>
        <p style="font-size: 12px; font-style: italic">(Nếu không có bảo hiểm nhân thọ, vui lòng chuyển sang khai báo tài sản khác)</p>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-success toggle-modal">
            <span class="glyphicon glyphicon-home"></span>
            Tạo bảo hiểm
        </button>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="insurance-table-div">
         @{ Html.RenderAction("_InsuranceTable", "Insurance"); }
    </div>
</div>
<footer class="row text-right">
    <a href="@Url.Action("Index", "Stock")" class="btn btn-default " style="font-size: 11px;">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Quay lại
    </a>
    <a href="@Url.Action("InsuranceInitialize", "Account")" class="btn btn-default " style="font-size: 11px;">
        <span class="glyphicon glyphicon-arrow-right"></span>
        Tiếp tục
    </a>
</footer>

<div id="modal">

</div>

<script type="text/javascript" src="~/Scripts/insurance.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.InsuranceForm = '@Url.Action("_InsuranceForm", "Insurance")';
    Url.InsuranceTable = '@Url.Action("_InsuranceTable", "Insurance")';
    Url.CreateInsurance = '@Url.Action("_Create", "Insurance")';
    Url.SaveInsurance = '@Url.Action("Save", "Insurance")';
    Url.InsuranceTable = '@Url.Action("_InsuranceTable", "Insurance")';
    Url.DeleteInsurance = '@Url.Action("DeleteInsurance", "Insurance")';
    Url.InsuranceUpdateForm = '@Url.Action("_InsuranceUpdateForm", "Insurance")';
</script>