@model bool[]
@{
    ViewBag.Title = "Tiền mặt có sẵn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear10"></div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            <a href="#" class="btn btn-default">Tiền mặt có sẵn</a>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size: 20px; margin-bottom: 5px !important">Quản lý tiền mặt có sẵn</p>
        @if (!Model[1])
        {
            <p style="font-size: 12px; font-style: italic">Vui lòng khai báo tiền mặt có sẵn để hoàn tất quá trình khởi tạo thông tin tài chính</p>
        }
    </div>
    @if (!Model[1])
    {
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success toggle-modal">
                <span class="glyphicon glyphicon-home"></span>
                Tạo tiền mặt có sẵn
            </button>
        </div>
    }
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-12" id="available-money-table-div">
        @{ Html.RenderAction("_AvailableMoneyTable", "AvailableMoney"); }
    </div>
</div>

@if (!Model[1])
{
    <footer class="row text-right">
        <a href="#" class="btn btn-primary available-money-toggle-summary" style="font-size: 11px;">
            <span class="glyphicon glyphicon-ok"></span>
            Hoàn tất khai báo tiền mặt có sẵn
        </a>
    </footer>
}
<div id="modal">

</div>

<div id="modal">
    @{ Html.RenderAction("_AvailableMoneyForm"); }
</div>

<script type="text/javascript" src="~/Scripts/availablemoney.js"></script>
<script type="text/javascript">
    var Url = {};
    Url.AvailableMoneyTable = '@Url.Action("_AvailableMoneyTable", "AvailableMoney")';
    Url.AvailableMoneyForm = '@Url.Action("_AvailableMoneyForm", "AvailableMoney")';
    Url.FinancialStatus = '@Url.Action("Index", "FinancialStatus")';
    Url.CheckExistAvailableMoney = '@Url.Action("CheckExistAvailableMoney", "AvailableMoney")';
    Url.AvailableMoneySummary = '@Url.Action("_AvailableMoneySummary", "AvailableMoney")';
    var check = '@Model[0]';
</script>
